In [36]:
import numpy as np
import pandas as pd

In [37]:
df0 = pd.read_csv('OECD_Data\CPI_Indices.csv')

In [38]:
df0

,LOCATION,Country,SUBJECT,Subject,MEASURE,Measure,FREQUENCY,Frequency,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2000-01,Jan-2000,IDX,Index,0,Units,2010_100,2010=100,17.859469,NaN,NaN
1,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2000-02,Feb-2000,IDX,Index,0,Units,2010_100,2010=100,18.520905,NaN,NaN
2,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2000-03,Mar-2000,IDX,Index,0,Units,2010_100,2010=100,19.061702,NaN,NaN
3,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2000-04,Apr-2000,IDX,Index,0,Units,2010_100,2010=100,19.504740,NaN,NaN
4,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2000-05,May-2000,IDX,Index,0,Units,2010_100,2010=100,19.937377,NaN,NaN
5,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2000-06,Jun-2000,IDX,Index,0,Units,2010_100,2010=100,20.072576,NaN,NaN
6,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2000-07,Jul-2000,IDX,Index,0,Units,2010_100,2010=100,20.523240,NaN,NaN
7,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2000-08,Aug-2000,IDX,Index,0,Units,2010_100,2010=100,20.969051,NaN,NaN
8,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2000-09,Sep-2000,IDX,Index,0,Units,2010_100,2010=100,21.613847,NaN,NaN
9,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2000-10,Oct-2000,IDX,Index,0,Units,2010_100,2010=100,22.283604,NaN,NaN
10,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2000-11,Nov-2000,IDX,Index,0,Units,2010_100,2010=100,23.110745,NaN,NaN
11,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2000-12,Dec-2000,IDX,Index,0,Units,2010_100,2010=100,23.680662,NaN,NaN
12,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2001-01,Jan-2001,IDX,Index,0,Units,2010_100,2010=100,24.274152,NaN,NaN
13,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2001-02,Feb-2001,IDX,Index,0,Units,2010_100,2010=100,24.710949,NaN,NaN
14,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2001-03,Mar-2001,IDX,Index,0,Units,2010_100,2010=100,26.211314,NaN,NaN
15,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2001-04,Apr-2001,IDX,Index,0,Units,2010_100,2010=100,28.920152,NaN,NaN
16,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2001-05,May-2001,IDX,Index,0,Units,2010_100,2010=100,30.381690,NaN,NaN
17,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2001-06,Jun-2001,IDX,Index,0,Units,2010_100,2010=100,31.333631,NaN,NaN
18,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2001-07,Jul-2001,IDX,Index,0,Units,2010_100,2010=100,32.083813,NaN,NaN
19,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2001-08,Aug-2001,IDX,Index,0,Units,2010_100,2010=100,33.026741,NaN,NaN
20,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2001-09,Sep-2001,IDX,Index,0,Units,2010_100,2010=100,34.971530,NaN,NaN
21,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2001-10,Oct-2001,IDX,Index,0,Units,2010_100,2010=100,37.095197,NaN,NaN
22,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2001-11,Nov-2001,IDX,Index,0,Units,2010_100,2010=100,38.662815,NaN,NaN
23,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2001-12,Dec-2001,IDX,Index,0,Units,2010_100,2010=100,39.909421,NaN,NaN
24,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2002-01,Jan-2002,IDX,Index,0,Units,2010_100,2010=100,42.032395,NaN,NaN
25,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2002-02,Feb-2002,IDX,Index,0,Units,2010_100,2010=100,42.769404,NaN,NaN
26,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2002-03,Mar-2002,IDX,Index,0,Units,2010_100,2010=100,43.278308,NaN,NaN
27,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2002-04,Apr-2002,IDX,Index,0,Units,2010_100,2010=100,44.167849,NaN,NaN
28,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2002-05,May-2002,IDX,Index,0,Units,2010_100,2010=100,44.423688,NaN,NaN
29,TUR,Turkey,CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2002-06,Jun-2002,IDX,Index,0,Units,2010_100,2010=100,44.682993,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2016-02,Feb-2016,IDX,Index,0,Units,2010_100,2010=100,118.025022,NaN,NaN
641,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2016-03,Mar-2016,IDX,Index,0,Units,2010_100,2010=100,117.450411,NaN,NaN
642,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2016-04,Apr-2016,IDX,Index,0,Units,2010_100,2010=100,117.220567,NaN,NaN
643,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2016-05,May-2016,IDX,Index,0,Units,2010_100,2010=100,116.760878,NaN,NaN
644,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2016-06,Jun-2016,IDX,Index,0,Units,2010_100,2010=100,116.531034,NaN,NaN
645,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2016-07,Jul-2016,IDX,Index,0,Units,2010_100,2010=100,116.760878,NaN,NaN
646,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2016-08,Aug-2016,IDX,Index,0,Units,2010_100,2010=100,116.875801,NaN,NaN
647,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2016-09,Sep-2016,IDX,Index,0,Units,2010_100,2010=100,117.680255,NaN,NaN
648,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2016-10,Oct-2016,IDX,Index,0,Units,2010_100,2010=100,117.565333,NaN,NaN
649,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2016-11,Nov-2016,IDX,Index,0,Units,2010_100,2010=100,117.680255,NaN,NaN
650,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2016-12,Dec-2016,IDX,Index,0,Units,2010_100,2010=100,117.910100,NaN,NaN
651,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2017-01,Jan-2017,IDX,Index,0,Units,2010_100,2010=100,119.174243,NaN,NaN
652,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2017-02,Feb-2017,IDX,Index,0,Units,2010_100,2010=100,118.944399,NaN,NaN
653,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2017-03,Mar-2017,IDX,Index,0,Units,2010_100,2010=100,118.599632,NaN,NaN
654,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2017-04,Apr-2017,IDX,Index,0,Units,2010_100,2010=100,118.599632,NaN,NaN
655,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2017-05,May-2017,IDX,Index,0,Units,2010_100,2010=100,118.714555,NaN,NaN
656,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2017-06,Jun-2017,IDX,Index,0,Units,2010_100,2010=100,118.484710,NaN,NaN
657,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2017-07,Jul-2017,IDX,Index,0,Units,2010_100,2010=100,118.369788,NaN,NaN
658,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2017-08,Aug-2017,IDX,Index,0,Units,2010_100,2010=100,118.944399,NaN,NaN
659,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2017-09,Sep-2017,IDX,Index,0,Units,2010_100,2010=100,119.633932,NaN,NaN
660,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2017-10,Oct-2017,IDX,Index,0,Units,2010_100,2010=100,119.748854,NaN,NaN
661,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2017-11,Nov-2017,IDX,Index,0,Units,2010_100,2010=100,119.748854,NaN,NaN
662,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2017-12,Dec-2017,IDX,Index,0,Units,2010_100,2010=100,120.093620,NaN,NaN
663,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2018-01,Jan-2018,IDX,Index,0,Units,2010_100,2010=100,120.898075,NaN,NaN
664,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2018-02,Feb-2018,IDX,Index,0,Units,2010_100,2010=100,122.392063,NaN,NaN
665,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2018-03,Mar-2018,IDX,Index,0,Units,2010_100,2010=100,121.012997,NaN,NaN
666,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2018-04,Apr-2018,IDX,Index,0,Units,2010_100,2010=100,120.783153,NaN,NaN
667,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2018-05,May-2018,IDX,Index,0,Units,2010_100,2010=100,120.553309,NaN,NaN
668,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2018-06,Jun-2018,IDX,Index,0,Units,2010_100,2010=100,120.553309,NaN,NaN
669,CHN,China (People's Republic of),CPALTT01,Consumer Price Index > All items > Total > Total,IXOB,Index 2010=100,M,Monthly,2018-07,Jul-2018,IDX,Index,0,Units,2010_100,2010=100,120.898075,NaN,NaN

In [39]:
def finddate(expression):
        
    year=expression.split('-')[0]
    month=expression.split('-')[1]
    date=int(year+month)

    return date

In [40]:
df0['Subject'].unique()

array(['Consumer Price Index > All items > Total > Total'], dtype=object)

In [41]:
df0['Country'].unique()

array(['Turkey', 'United Kingdom', "China (People's Republic of)"],
      dtype=object)

In [42]:
df0['Measure'].unique()

array(['Index 2010=100'], dtype=object)

In [43]:
#df0[(df0['Country']=='United Kingdom')]

In [44]:
df=df0

In [45]:
df.drop('Subject',axis=1,inplace=True)
df.drop('Country',axis=1,inplace=True)
df.drop('MEASURE',axis=1,inplace=True)
df.drop('Unit Code',axis=1,inplace=True)
df.drop('Unit',axis=1,inplace=True)
df.drop('PowerCode Code',axis=1,inplace=True)
df.drop('PowerCode',axis=1,inplace=True)
df.drop('Reference Period Code',axis=1,inplace=True)
df.drop('FREQUENCY',axis=1,inplace=True)
df.drop('Frequency',axis=1,inplace=True)
df.drop('Reference Period',axis=1,inplace=True)
df.drop('Flag Codes',axis=1,inplace=True)
df.drop('Time',axis=1,inplace=True)
df.drop('Flags',axis=1,inplace=True)

In [46]:
df

    LOCATION   SUBJECT         Measure     TIME       Value
0        TUR  CPALTT01  Index 2010=100  2000-01   17.859469
1        TUR  CPALTT01  Index 2010=100  2000-02   18.520905
2        TUR  CPALTT01  Index 2010=100  2000-03   19.061702
3        TUR  CPALTT01  Index 2010=100  2000-04   19.504740
4        TUR  CPALTT01  Index 2010=100  2000-05   19.937377
5        TUR  CPALTT01  Index 2010=100  2000-06   20.072576
6        TUR  CPALTT01  Index 2010=100  2000-07   20.523240
7        TUR  CPALTT01  Index 2010=100  2000-08   20.969051
8        TUR  CPALTT01  Index 2010=100  2000-09   21.613847
9        TUR  CPALTT01  Index 2010=100  2000-10   22.283604
10       TUR  CPALTT01  Index 2010=100  2000-11   23.110745
11       TUR  CPALTT01  Index 2010=100  2000-12   23.680662
12       TUR  CPALTT01  Index 2010=100  2001-01   24.274152
13       TUR  CPALTT01  Index 2010=100  2001-02   24.710949
14       TUR  CPALTT01  Index 2010=100  2001-03   26.211314
15       TUR  CPALTT01  Index 2010=100  2001-04   28.920152
16       TUR  CPALTT01  Index 2010=100  2001-05   30.381690
17       TUR  CPALTT01  Index 2010=100  2001-06   31.333631
18       TUR  CPALTT01  Index 2010=100  2001-07   32.083813
19       TUR  CPALTT01  Index 2010=100  2001-08   33.026741
20       TUR  CPALTT01  Index 2010=100  2001-09   34.971530
21       TUR  CPALTT01  Index 2010=100  2001-10   37.095197
22       TUR  CPALTT01  Index 2010=100  2001-11   38.662815
23       TUR  CPALTT01  Index 2010=100  2001-12   39.909421
24       TUR  CPALTT01  Index 2010=100  2002-01   42.032395
25       TUR  CPALTT01  Index 2010=100  2002-02   42.769404
26       TUR  CPALTT01  Index 2010=100  2002-03   43.278308
27       TUR  CPALTT01  Index 2010=100  2002-04   44.167849
28       TUR  CPALTT01  Index 2010=100  2002-05   44.423688
29       TUR  CPALTT01  Index 2010=100  2002-06   44.682993
..       ...       ...             ...      ...         ...
640      CHN  CPALTT01  Index 2010=100  2016-02  118.025022
641      CHN  CPALTT01  Index 2010=100  2016-03  117.450411
642      CHN  CPALTT01  Index 2010=100  2016-04  117.220567
643      CHN  CPALTT01  Index 2010=100  2016-05  116.760878
644      CHN  CPALTT01  Index 2010=100  2016-06  116.531034
645      CHN  CPALTT01  Index 2010=100  2016-07  116.760878
646      CHN  CPALTT01  Index 2010=100  2016-08  116.875801
647      CHN  CPALTT01  Index 2010=100  2016-09  117.680255
648      CHN  CPALTT01  Index 2010=100  2016-10  117.565333
649      CHN  CPALTT01  Index 2010=100  2016-11  117.680255
650      CHN  CPALTT01  Index 2010=100  2016-12  117.910100
651      CHN  CPALTT01  Index 2010=100  2017-01  119.174243
652      CHN  CPALTT01  Index 2010=100  2017-02  118.944399
653      CHN  CPALTT01  Index 2010=100  2017-03  118.599632
654      CHN  CPALTT01  Index 2010=100  2017-04  118.599632
655      CHN  CPALTT01  Index 2010=100  2017-05  118.714555
656      CHN  CPALTT01  Index 2010=100  2017-06  118.484710
657      CHN  CPALTT01  Index 2010=100  2017-07  118.369788
658      CHN  CPALTT01  Index 2010=100  2017-08  118.944399
659      CHN  CPALTT01  Index 2010=100  2017-09  119.633932
660      CHN  CPALTT01  Index 2010=100  2017-10  119.748854
661      CHN  CPALTT01  Index 2010=100  2017-11  119.748854
662      CHN  CPALTT01  Index 2010=100  2017-12  120.093620
663      CHN  CPALTT01  Index 2010=100  2018-01  120.898075
664      CHN  CPALTT01  Index 2010=100  2018-02  122.392063
665      CHN  CPALTT01  Index 2010=100  2018-03  121.012997
666      CHN  CPALTT01  Index 2010=100  2018-04  120.783153
667      CHN  CPALTT01  Index 2010=100  2018-05  120.553309
668      CHN  CPALTT01  Index 2010=100  2018-06  120.553309
669      CHN  CPALTT01  Index 2010=100  2018-07  120.898075

[670 rows x 5 columns]

In [47]:
Turkey_Consumer_Indices=df[(
    (df['SUBJECT']=='CPALTT01')  
   & (df['LOCATION']=='TUR') 
   & (df['Measure']=='Index 2010=100')
    )]

In [48]:
China_Consumer_Indices=df[(
    (df['SUBJECT']=='CPALTT01')  
   & (df['LOCATION']=='CHN') 
   & (df['Measure']=='Index 2010=100')
    )]

In [49]:
UK_Consumer_Indices=df[(
    (df['SUBJECT']=='CPALTT01')  
   & (df['LOCATION']=='GBR') 
   & (df['Measure']=='Index 2010=100')
    )]

In [50]:
Turkey_Consumer_Indices.count()

LOCATION    224
SUBJECT     224
Measure     224
TIME        224
Value       224
dtype: int64

In [51]:
#Turkey_Consumer_Indices

In [52]:
China_Consumer_Indices.count()

LOCATION    223
SUBJECT     223
Measure     223
TIME        223
Value       223
dtype: int64

In [53]:
#China_Consumer_Indices

In [54]:
UK_Consumer_Indices.count()

LOCATION    223
SUBJECT     223
Measure     223
TIME        223
Value       223
dtype: int64

In [55]:
#UK_Consumer_Indices

In [56]:
Turkey_Consumer_Indices=Turkey_Consumer_Indices.rename(columns = {'Value':'CPI_TUR'})
Turkey_Consumer_Indices=Turkey_Consumer_Indices.rename(columns = {'TIME':'Date'})

In [57]:
Turkey_Consumer_Indices['CPI_TUR-1'] = Turkey_Consumer_Indices['CPI_TUR'].shift(1)
Turkey_Consumer_Indices['CPI_TUR-2'] = Turkey_Consumer_Indices['CPI_TUR'].shift(2)
Turkey_Consumer_Indices['CPI_TUR-3'] = Turkey_Consumer_Indices['CPI_TUR'].shift(3)
Turkey_Consumer_Indices['CPI_TUR-6'] = Turkey_Consumer_Indices['CPI_TUR'].shift(6)
Turkey_Consumer_Indices['CPI_TUR-12'] = Turkey_Consumer_Indices['CPI_TUR'].shift(12)

In [58]:
for num in range(0,Turkey_Consumer_Indices.shape[0]):
    Turkey_Consumer_Indices.iloc[num,3]=finddate(Turkey_Consumer_Indices.iloc[num,3])

In [59]:
China_Consumer_Indices=China_Consumer_Indices.rename(columns = {'Value':'CPI_CHN'})
China_Consumer_Indices=China_Consumer_Indices.rename(columns = {'TIME':'Date'})

In [60]:
China_Consumer_Indices['CPI_CHN-1'] = China_Consumer_Indices['CPI_CHN'].shift(1)
China_Consumer_Indices['CPI_CHN-2'] = China_Consumer_Indices['CPI_CHN'].shift(2)
China_Consumer_Indices['CPI_CHN-3'] = China_Consumer_Indices['CPI_CHN'].shift(3)
China_Consumer_Indices['CPI_CHN-6'] = China_Consumer_Indices['CPI_CHN'].shift(6)
China_Consumer_Indices['CPI_CHN-12'] = China_Consumer_Indices['CPI_CHN'].shift(12)

In [61]:
for num in range(0,China_Consumer_Indices.shape[0]):
    China_Consumer_Indices.iloc[num,3]=finddate(China_Consumer_Indices.iloc[num,3])

In [62]:
UK_Consumer_Indices=UK_Consumer_Indices.rename(columns = {'Value':'CPI_GBR'})
UK_Consumer_Indices=UK_Consumer_Indices.rename(columns = {'TIME':'Date'})

In [63]:
UK_Consumer_Indices['CPI_GBR-1'] = UK_Consumer_Indices['CPI_GBR'].shift(1)
UK_Consumer_Indices['CPI_GBR-2'] = UK_Consumer_Indices['CPI_GBR'].shift(2)
UK_Consumer_Indices['CPI_GBR-3'] = UK_Consumer_Indices['CPI_GBR'].shift(3)
UK_Consumer_Indices['CPI_GBR-6'] = UK_Consumer_Indices['CPI_GBR'].shift(6)
UK_Consumer_Indices['CPI_GBR-12'] = UK_Consumer_Indices['CPI_GBR'].shift(12)

In [64]:
for num in range(0,UK_Consumer_Indices.shape[0]):
    UK_Consumer_Indices.iloc[num,3]=finddate(UK_Consumer_Indices.iloc[num,3])

In [65]:
Turkey_GBR_Consumer_Indices = Turkey_Consumer_Indices[['Date','CPI_TUR','CPI_TUR-1','CPI_TUR-2',
                                     'CPI_TUR-3','CPI_TUR-6','CPI_TUR-12']].merge(UK_Consumer_Indices[['Date',
                                     'CPI_GBR','CPI_GBR-1', 'CPI_GBR-2',
                                    'CPI_GBR-3','CPI_GBR-6','CPI_GBR-12']], 
            on = 'Date',how = 'left')

# Reindex main features for the first columns 'CPI_TUR' , 'CPI_GBR'

Turkey_GBR_Consumer_Indices=Turkey_GBR_Consumer_Indices.reindex(columns=['Date', 'CPI_TUR','CPI_GBR','CPI_TUR-1', 'CPI_TUR-2', 
                                                                             'CPI_TUR-3', 'CPI_TUR-6','CPI_TUR-12', 'CPI_GBR-1', 
                                                                             'CPI_GBR-2', 'CPI_GBR-3','CPI_GBR-6', 'CPI_GBR-12'])

#save resulting output file

Turkey_GBR_Consumer_Indices.to_csv('CPI_TUR_GBR.csv',index = False)

In [66]:
China_GBR_Consumer_Indices = China_Consumer_Indices[['Date','CPI_CHN','CPI_CHN-1','CPI_CHN-2',
                                     'CPI_CHN-3','CPI_CHN-6','CPI_CHN-12']].merge(UK_Consumer_Indices[['Date','CPI_GBR','CPI_GBR-1','CPI_GBR-2',
                                    'CPI_GBR-3','CPI_GBR-6','CPI_GBR-12']], 
            on = 'Date',how = 'left')


# Reindex main features for the first columns 'CPI_CHN' , 'CPI_GBR'

China_GBR_Consumer_Indices=China_GBR_Consumer_Indices.reindex(columns=['Date', 'CPI_CHN','CPI_GBR','CPI_CHN-1', 'CPI_CHN-2', 
                                                                             'CPI_CHN-3', 'CPI_CHN-6','CPI_CHN-12', 'CPI_GBR-1', 
                                                                             'CPI_GBR-2', 'CPI_GBR-3','CPI_GBR-6', 'CPI_GBR-12'])


#save resulting output file
China_GBR_Consumer_Indices.to_csv('CPI_CHN_GBR.csv',index = False)