In [5]:
import numpy as np
import pandas as pd
Product=841840

In [6]:
#Butun Dosyalar okunur Dosya isimleri duzenlenmelidir.
China_15 = pd.read_csv('{}-2015-China.txt'.format(Product),sep='\t')
China_14 = pd.read_csv('{}-2014-China.txt'.format(Product),sep='\t')
China_12 = pd.read_csv('{}-2012-China.txt'.format(Product),sep='\t')
China_11 = pd.read_csv('{}-2011-China.txt'.format(Product),sep='\t')
China_09 = pd.read_csv('{}-2009-China.txt'.format(Product),sep='\t')
China_07 = pd.read_csv('{}-2007-China.txt'.format(Product),sep='\t')
China_06 = pd.read_csv('{}-2006-China.txt'.format(Product),sep='\t')

In [7]:
#Butun Importer bilgisine gore birlestirilir.
China_all = China_15.merge(China_14, 
                        on = 'Importers',how = 'left').merge(China_12,
                        on = 'Importers',how = 'left').merge(China_11, 
                        on = 'Importers',how = 'left').merge(China_09,
                        on = 'Importers',how = 'left').merge(China_07, 
                        on = 'Importers',how = 'left').merge(China_06, 
                        on = 'Importers',how = 'left')

In [8]:
#O urun grubundaki en fazla hacim yapan ülkelere bakılır. 
#2016 yılı sonu itibariyle en cok ihracat yapılan ulkeler secilmistir
China_all['Importers'].unique()

array(['World', 'United States of America', 'France', 'Germany',
       'Australia', 'United Kingdom', 'Japan', 'Russian Federation',
       'Netherlands', 'Saudi Arabia', 'Taipei, Chinese', 'Italy',
       'Iran, Islamic Republic of', 'Turkey', 'Canada', 'Spain', 'Denmark',
       'Belgium', 'Viet Nam', 'United Arab Emirates', 'Portugal',
       'Switzerland', 'Senegal', 'Iraq', 'Korea, Republic of', 'Lebanon',
       'Israel', 'Singapore', 'Poland', 'Malaysia', 'Philippines',
       'Jordan', "Côte d'Ivoire", 'Sweden', 'Bangladesh', 'Colombia',
       'New Zealand', 'Hong Kong, China', 'Morocco', 'Egypt', 'Kuwait',
       'Romania', 'Chile', 'Algeria', 'India', 'Slovenia', 'Ecuador',
       'South Africa', 'Sri Lanka', 'Guinea', 'Togo', 'Mexico', 'Ukraine',
       'Panama', 'Ireland', 'Uzbekistan', 'El Salvador', 'Armenia',
       'Myanmar', 'Venezuela, Bolivarian Republic of', 'Ethiopia',
       'Greece', 'Mali', 'Finland', 'Indonesia', 'Trinidad and Tobago',
       'Kenya', 'Georgia', 'Oman', 'Paraguay', 'Sierra Leone',
       'Palestine, State of', 'Benin', 'Barbados', 'Estonia', 'Ghana',
       'Turkmenistan', 'Yemen', 'Honduras', 'Lithuania', 'Malta',
       'Czech Republic', 'Bahrain', 'Fiji', 'Jamaica', 'New Caledonia',
       'Brunei Darussalam', 'Dominican Republic', 'Mauritius',
       'Kazakhstan', 'Cyprus', 'Costa Rica', 'Croatia', 'Thailand',
       'Papua New Guinea', 'Qatar', 'Peru', 'Pakistan',
       "Korea, Democratic People's Republic of",
       'Central African Republic', 'Angola', 'Equatorial Guinea',
       'Hungary', 'Uganda', 'Tunisia', 'Tanzania, United Republic of',
       'Djibouti', 'Afghanistan', 'Argentina', 'Botswana', 'Brazil',
       'Bhutan', 'Mozambique', 'Namibia', 'Nepal', 'Oceania Nes',
       'Mauritania', 'Maldives', 'Mongolia', 'Moldova, Republic of',
       'Montenegro', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Macao, China', 'Madagascar', 'Malawi', 'Latvia', 'Liberia',
       'Libya, State of', 'Vanuatu', 'Nicaragua', 'Niger', 'Nigeria',
       'Norway', 'Marshall Islands', 'Palau', 'Netherlands Antilles',
       'Curaçao', 'Aruba', 'Sint Maarten (Dutch part)', 'Guinea-Bissau',
       'Serbia', 'Seychelles', 'Rwanda', 'Saint Lucia', 'Somalia',
       'Slovakia', 'Bolivia, Plurinational State of', 'Solomon Islands',
       'Bulgaria', 'Austria', 'Albania', 'Azerbaijan', 'Cuba', 'Comoros',
       'Congo', 'Congo, Democratic Republic of the', 'Burundi', 'Cambodia',
       'Cameroon', 'Chad', 'Cabo Verde', 'Gabon', 'Gambia',
       'French Polynesia', 'Iceland', 'Guyana', 'Haiti', 'Guatemala',
       'Macedonia, The Former Yugoslav Republic of', 'Samoa',
       'Burkina Faso', 'Uruguay', 'Zambia', 'Tonga', 'Zimbabwe',
       'Sudan (before 2012)', 'Suriname', 'Syrian Arab Republic',
       'Tajikistan'], dtype=object)

In [9]:
#Butun okunanların birlestirir, transposunu alır ve index'i kaldırır Bunu urun grubuna göre yapar

# 841810 için ilk 5 ülke
#'World', 'United States of America', 'Japan', 'France',
#       'United Kingdom', 'Australia'
if Product==841810 :

    China_all=China_all[(
    (China_all['Importers']=='World')  
   | (China_all['Importers']=='United States of America') 
   | (China_all['Importers']=='Japan')
   | (China_all['Importers']=='France')
   | (China_all['Importers']=='United Kingdom')
   | (China_all['Importers']=='Australia')
    )].transpose().reset_index()

# 841840 için ilk 5 ülke
#'World', 'United States of America', 'France', 'Germany',
#       'Japan', 'United Kingdom',
elif Product==841840:
    China_all=China_all[(
    (China_all['Importers']=='World')  
   | (China_all['Importers']=='United States of America') 
   | (China_all['Importers']=='Japan')
   | (China_all['Importers']=='France')
   | (China_all['Importers']=='United Kingdom')
   | (China_all['Importers']=='Germany')
    )].transpose().reset_index()


# 841850 için ilk 5 ülke
#'World', 'United States of America', 'Australia', 'Italy',
#       'Indonesia', 'United Kingdom', 
elif Product==841850:


    China_all=China_all[(
    (China_all['Importers']=='World')  
   | (China_all['Importers']=='United States of America') 
   | (China_all['Importers']=='United Kingdom')
   | (China_all['Importers']=='Australia')
   | (China_all['Importers']=='Italy')
   | (China_all['Importers']=='Indonesia')
    )].transpose().reset_index()

In [10]:
# İlk Satırı Kolon isimleri yapar ve NaN olan satırları siler 
China_all.columns = China_all.iloc[0]
China_all=China_all.reindex(China_all.index.drop(0))
China_all=China_all.dropna()
China_all.loc[:, 'Date'] = 0
China_all=China_all.drop_duplicates('World')

In [11]:
China_all

,Importers,World,United States of America,France,Germany,United Kingdom,Japan,Date
1,Exported value in 2015-M10_x,15960,3275,1063,642,1977,744,0
2,Exported value in 2015-M11,15527,3232,933,615,1675,874,0
3,Exported value in 2015-M12,20387,3304,1700,1440,1519,1025,0
4,Exported value in 2016-M01,15537,3517,868,1039,1234,575,0
5,Exported value in 2016-M02,14142,3352,687,1065,1330,723,0
6,Exported value in 2016-M03,19393,2614,1258,1668,1494,820,0
7,Exported value in 2016-M04,24112,3357,2503,2150,1373,1047,0
8,Exported value in 2016-M05,26059,4899,2480,1216,1726,1507,0
9,Exported value in 2016-M06,22552,3660,1955,678,1931,1666,0
10,Exported value in 2016-M07,21813,4656,1338,751,1699,1724,0
11,Exported value in 2016-M08,20943,3749,1441,909,2109,1246,0
12,Exported value in 2016-M09,19131,3402,1176,738,1860,1054,0
13,Exported value in 2016-M10,16949,4235,874,818,1830,813,0
14,Exported value in 2016-M11,19992,4344,1466,898,1877,1015,0
15,Exported value in 2016-M12,20968,4301,1345,1080,1762,874,0
16,Exported value in 2017-M01,21732,5050,1155,991,1641,1121,0
17,Exported value in 2017-M02,16549,4379,1020,872,1216,570,0
18,Exported value in 2017-M03,27056,4938,1855,1405,1808,1117,0
19,Exported value in 2017-M04,23202,4142,1746,1116,1575,1035,0
20,Exported value in 2017-M05,26491,5570,2125,1916,1665,1361,0
22,Exported value in 2014-M03_x,19751,3123,1223,2086,1000,1165,0
23,Exported value in 2014-M04,20980,4824,1571,1785,1272,1690,0
24,Exported value in 2014-M05,24785,4043,1751,1701,1899,2763,0
25,Exported value in 2014-M06,22736,3069,1811,1716,1797,2188,0
26,Exported value in 2014-M07,27345,5498,1472,1842,1592,3001,0
27,Exported value in 2014-M08,22958,3613,1245,1450,2150,1735,0
28,Exported value in 2014-M09,22181,3640,1180,1104,1948,864,0
29,Exported value in 2014-M10,19470,2710,1276,976,2162,1146,0
30,Exported value in 2014-M11,19892,2331,1407,640,1943,1916,0
31,Exported value in 2014-M12,17424,2836,1414,1541,1818,549,0
...,...,...,...,...,...,...,...,...
114,Exported value in 2008-M07,8617,833,481,777,1480,2066,0
115,Exported value in 2008-M08,8778,651,166,397,1073,2826,0
116,Exported value in 2008-M09,6468,101,353,291,877,1515,0
117,Exported value in 2008-M10,6590,75,102,154,1004,983,0
118,Exported value in 2008-M11,5930,127,217,261,439,1637,0
119,Exported value in 2008-M12,4730,15,214,92,171,928,0
120,Exported value in 2009-M01,5015,33,109,397,803,607,0
121,Exported value in 2009-M02,3291,6,195,200,399,772,0
122,Exported value in 2009-M03,6724,527,540,145,674,1055,0
123,Exported value in 2009-M04,8448,759,701,363,634,1191,0
124,Exported value in 2009-M05,8199,545,532,576,985,1727,0
127,Exported value in 2006-M04,4854,0,53,215,570,1106,0
128,Exported value in 2006-M05,4977,64,302,53,1081,790,0
129,Exported value in 2006-M06,3966,0,101,259,1138,838,0
130,Exported value in 2006-M07,7492,0,206,51,1120,3402,0
131,Exported value in 2006-M08,7614,76,70,167,2546,1774,0
132,Exported value in 2006-M09,6049,355,326,172,1316,1010,0
133,Exported value in 2006-M10,4488,259,105,284,980,726,0
134,Exported value in 2006-M11,5653,147,96,369,788,736,0
135,Exported value in 2006-M12,5068,33,23,179,1066,1189,0
136,Exported value in 2007-M01,5364,51,105,538,982,824,0
137,Exported value in 2007-M02,3881,0,50,272,1012,463,0
138,Exported value in 2007-M03,4548,29,119,722,663,595,0
139,Exported value in 2007-M04,5515,0,339,461,1011,966,0
140,Exported value in 2007-M05,6470,94,117,345,1528,1414,0
141,Exported value in 2007-M06,6144,135,151,374,953,1329,0
142,Exported value in 2007-M07,7281,105,61,271,2135,1826,0
143,Exported value in 2007-M08,9205,67,416,707,1640,1771,0
144,Exported value in 2007-M09,6669,67,78,259,1406,1444,0
145,Exported value in 2007-M10,6786,131,316,330,1702,754,0

In [12]:
def finddate(expression):
        
    year=expression.split('-M')[0]
    year=year.split()[3]
    month=expression.split('-M')[1]
    month=month.split('_')[0]
    date=int(year+month)

    return date

In [13]:
for num in range(0,China_all.shape[0]):
    China_all.iloc[num,7]=finddate(China_all.iloc[num,0])

In [14]:
China_all.drop('Importers',axis=1,inplace=True)
China_all=China_all.sort_values(by='Date', ascending=1)

In [15]:
if Product==841810 :
# 841810 için ilk 5 ülke
#'World', 'United States of AmeriWorld, 'Japan', 'France',
#       'United Kingdom', 'AustraWorld'

    China_all=China_all.rename(columns = {'World':'CHN_World_841810'})
    China_all['CHN_World_841810-1'] = China_all['CHN_World_841810'].shift(1)
    China_all['CHN_World_841810-2'] = China_all['CHN_World_841810'].shift(2)
    China_all['CHN_World_841810-3'] = China_all['CHN_World_841810'].shift(3)
    China_all['CHN_World_841810-6'] = China_all['CHN_World_841810'].shift(6)
    China_all['CHN_World_841810-12'] = China_all['CHN_World_841810'].shift(12)
    
    
    China_all=China_all.rename(columns = {'United States of America':'CHN_USA_841810'})
    China_all['CHN_USA_841810-1'] = China_all['CHN_USA_841810'].shift(1)
    China_all['CHN_USA_841810-2'] = China_all['CHN_USA_841810'].shift(2)
    China_all['CHN_USA_841810-3'] = China_all['CHN_USA_841810'].shift(3)
    China_all['CHN_USA_841810-6'] = China_all['CHN_USA_841810'].shift(6)
    China_all['CHN_USA_841810-12'] = China_all['CHN_USA_841810'].shift(12)

    China_all=China_all.rename(columns = {'Japan':'CHN_JPN_841810'})
    China_all['CHN_JPN_841810-1'] = China_all['CHN_JPN_841810'].shift(1)
    China_all['CHN_JPN_841810-2'] = China_all['CHN_JPN_841810'].shift(2)
    China_all['CHN_JPN_841810-3'] = China_all['CHN_JPN_841810'].shift(3)
    China_all['CHN_JPN_841810-6'] = China_all['CHN_JPN_841810'].shift(6)
    China_all['CHN_JPN_841810-12'] = China_all['CHN_JPN_841810'].shift(12)

    China_all=China_all.rename(columns = {'France':'CHN_FRA_841810'})
    China_all['CHN_FRA_841810-1'] = China_all['CHN_FRA_841810'].shift(1)
    China_all['CHN_FRA_841810-2'] = China_all['CHN_FRA_841810'].shift(2)
    China_all['CHN_FRA_841810-3'] = China_all['CHN_FRA_841810'].shift(3)
    China_all['CHN_FRA_841810-6'] = China_all['CHN_FRA_841810'].shift(6)
    China_all['CHN_FRA_841810-12'] = China_all['CHN_FRA_841810'].shift(12)

    China_all=China_all.rename(columns = {'United Kingdom':'CHN_GBR_841810'})
    China_all['CHN_GBR_841810-1'] = China_all['CHN_GBR_841810'].shift(1)
    China_all['CHN_GBR_841810-2'] = China_all['CHN_GBR_841810'].shift(2)
    China_all['CHN_GBR_841810-3'] = China_all['CHN_GBR_841810'].shift(3)
    China_all['CHN_GBR_841810-6'] = China_all['CHN_GBR_841810'].shift(6)
    China_all['CHN_GBR_841810-12'] = China_all['CHN_GBR_841810'].shift(12)
    
    China_all=China_all.rename(columns = {'Australia':'CHN_AUS_841810'})
    China_all['CHN_AUS_841810-1'] = China_all['CHN_AUS_841810'].shift(1)
    China_all['CHN_AUS_841810-2'] = China_all['CHN_AUS_841810'].shift(2)
    China_all['CHN_AUS_841810-3'] = China_all['CHN_AUS_841810'].shift(3)
    China_all['CHN_AUS_841810-6'] = China_all['CHN_AUS_841810'].shift(6)
    China_all['CHN_AUS_841810-12'] = China_all['CHN_AUS_841810'].shift(12)
    
elif Product==841840:
# 841840 için ilk 5 ülke
#'World', 'United States of America', 'France', 'Germany',
#       'Japan', 'United Kingdom',
    
    China_all=China_all.rename(columns = {'World':'CHN_World_841840'})
    China_all['CHN_World_841840-1'] = China_all['CHN_World_841840'].shift(1)
    China_all['CHN_World_841840-2'] = China_all['CHN_World_841840'].shift(2)
    China_all['CHN_World_841840-3'] = China_all['CHN_World_841840'].shift(3)
    China_all['CHN_World_841840-6'] = China_all['CHN_World_841840'].shift(6)
    China_all['CHN_World_841840-12'] = China_all['CHN_World_841840'].shift(12)
    
    China_all=China_all.rename(columns = {'United States of America':'CHN_USA_841840'})
    China_all['CHN_USA_841840-1'] = China_all['CHN_USA_841840'].shift(1)
    China_all['CHN_USA_841840-2'] = China_all['CHN_USA_841840'].shift(2)
    China_all['CHN_USA_841840-3'] = China_all['CHN_USA_841840'].shift(3)
    China_all['CHN_USA_841840-6'] = China_all['CHN_USA_841840'].shift(6)
    China_all['CHN_USA_841840-12'] = China_all['CHN_USA_841840'].shift(12)

    China_all=China_all.rename(columns = {'Japan':'CHN_JPN_841840'})
    China_all['CHN_JPN_841840-1'] = China_all['CHN_JPN_841840'].shift(1)
    China_all['CHN_JPN_841840-2'] = China_all['CHN_JPN_841840'].shift(2)
    China_all['CHN_JPN_841840-3'] = China_all['CHN_JPN_841840'].shift(3)
    China_all['CHN_JPN_841840-6'] = China_all['CHN_JPN_841840'].shift(6)
    China_all['CHN_JPN_841840-12'] = China_all['CHN_JPN_841840'].shift(12)

    China_all=China_all.rename(columns = {'France':'CHN_FRA_841840'})
    China_all['CHN_FRA_841840-1'] = China_all['CHN_FRA_841840'].shift(1)
    China_all['CHN_FRA_841840-2'] = China_all['CHN_FRA_841840'].shift(2)
    China_all['CHN_FRA_841840-3'] = China_all['CHN_FRA_841840'].shift(3)
    China_all['CHN_FRA_841840-6'] = China_all['CHN_FRA_841840'].shift(6)
    China_all['CHN_FRA_841840-12'] = China_all['CHN_FRA_841840'].shift(12)

    China_all=China_all.rename(columns = {'United Kingdom':'CHN_GBR_841840'})
    China_all['CHN_GBR_841840-1'] = China_all['CHN_GBR_841840'].shift(1)
    China_all['CHN_GBR_841840-2'] = China_all['CHN_GBR_841840'].shift(2)
    China_all['CHN_GBR_841840-3'] = China_all['CHN_GBR_841840'].shift(3)
    China_all['CHN_GBR_841840-6'] = China_all['CHN_GBR_841840'].shift(6)
    China_all['CHN_GBR_841840-12'] = China_all['CHN_GBR_841840'].shift(12)
    
    China_all=China_all.rename(columns = {'Germany':'CHN_DEU_841840'})
    China_all['CHN_DEU_841840-1'] = China_all['CHN_DEU_841840'].shift(1)
    China_all['CHN_DEU_841840-2'] = China_all['CHN_DEU_841840'].shift(2)
    China_all['CHN_DEU_841840-3'] = China_all['CHN_DEU_841840'].shift(3)
    China_all['CHN_DEU_841840-6'] = China_all['CHN_DEU_841840'].shift(6)
    China_all['CHN_DEU_841840-12'] = China_all['CHN_DEU_841840'].shift(12)
    
elif Product==841850:
    
# 841850 için ilk 5 ülke
#'World', 'United States of America', 'Australia', 'Italy',
#       'Indonesia', 'United Kingdom', 

    China_all=China_all.rename(columns = {'World':'CHN_World_841850'})
    China_all['CHN_World_841850-1'] = China_all['CHN_World_841850'].shift(1)
    China_all['CHN_World_841850-2'] = China_all['CHN_World_841850'].shift(2)
    China_all['CHN_World_841850-3'] = China_all['CHN_World_841850'].shift(3)
    China_all['CHN_World_841850-6'] = China_all['CHN_World_841850'].shift(6)
    China_all['CHN_World_841850-12'] = China_all['CHN_World_841850'].shift(12)

    China_all=China_all.rename(columns = {'United States of America':'CHN_USA_841850'})
    China_all['CHN_USA_841850-1'] = China_all['CHN_USA_841850'].shift(1)
    China_all['CHN_USA_841850-2'] = China_all['CHN_USA_841850'].shift(2)
    China_all['CHN_USA_841850-3'] = China_all['CHN_USA_841850'].shift(3)
    China_all['CHN_USA_841850-6'] = China_all['CHN_USA_841850'].shift(6)
    China_all['CHN_USA_841850-12'] = China_all['CHN_USA_841850'].shift(12)


    China_all=China_all.rename(columns = {'United Kingdom':'CHN_GBR_841850'})
    China_all['CHN_GBR_841850-1'] = China_all['CHN_GBR_841850'].shift(1)
    China_all['CHN_GBR_841850-2'] = China_all['CHN_GBR_841850'].shift(2)
    China_all['CHN_GBR_841850-3'] = China_all['CHN_GBR_841850'].shift(3)
    China_all['CHN_GBR_841850-6'] = China_all['CHN_GBR_841850'].shift(6)
    China_all['CHN_GBR_841850-12'] = China_all['CHN_GBR_841850'].shift(12)
    
    China_all=China_all.rename(columns = {'Australia':'CHN_AUS_841850'})
    China_all['CHN_AUS_841850-1'] = China_all['CHN_AUS_841850'].shift(1)
    China_all['CHN_AUS_841850-2'] = China_all['CHN_AUS_841850'].shift(2)
    China_all['CHN_AUS_841850-3'] = China_all['CHN_AUS_841850'].shift(3)
    China_all['CHN_AUS_841850-6'] = China_all['CHN_AUS_841850'].shift(6)
    China_all['CHN_AUS_841850-12'] = China_all['CHN_AUS_841850'].shift(12)
    
    China_all=China_all.rename(columns = {'Italy':'CHN_ITA_841850'})
    China_all['CHN_ITA_841850-1'] = China_all['CHN_ITA_841850'].shift(1)
    China_all['CHN_ITA_841850-2'] = China_all['CHN_ITA_841850'].shift(2)
    China_all['CHN_ITA_841850-3'] = China_all['CHN_ITA_841850'].shift(3)
    China_all['CHN_ITA_841850-6'] = China_all['CHN_ITA_841850'].shift(6)
    China_all['CHN_ITA_841850-12'] = China_all['CHN_ITA_841850'].shift(12)

    China_all=China_all.rename(columns = {'Indonesia':'CHN_IDN_841850'})
    China_all['CHN_IDN_841850-1'] = China_all['CHN_IDN_841850'].shift(1)
    China_all['CHN_IDN_841850-2'] = China_all['CHN_IDN_841850'].shift(2)
    China_all['CHN_IDN_841850-3'] = China_all['CHN_IDN_841850'].shift(3)
    China_all['CHN_IDN_841850-6'] = China_all['CHN_IDN_841850'].shift(6)
    China_all['CHN_IDN_841850-12'] = China_all['CHN_IDN_841850'].shift(12)

In [16]:

#China_all=China_all.dropna()
China_all.to_excel('{}_China_all.xlsx'.format(Product),index = False)