In [1]:
import numpy as np
import pandas as pd

In [2]:


xls = pd.ExcelFile('Global_Trade_Data\Global Trade May 2018.xlsx')
WorldTrade = xls.parse('World', header=0,index_col=None, na_values=['NA'])
#WorldTrade = xls.parse('World', skiprows=9, header=0,index_col=None, na_values=['NA'])

XLRDError: No sheet named <'World'>

In [9]:
WorldTrade

       Date       World
0    200001   64.554286
1    200002   65.614573
2    200003   65.721381
3    200004   66.336496
4    200005   68.283152
5    200006   67.229168
6    200007   68.221316
7    200008   69.392481
8    200009   69.314872
9    200010   70.237382
10   200011   70.443515
11   200012   70.512641
12   200101   70.331213
13   200102   69.446796
14   200103   69.163815
15   200104   68.477830
16   200105   68.041011
17   200106   67.942095
18   200107   67.135612
19   200108   67.278883
20   200109   66.225091
21   200110   67.137473
22   200111   66.861210
23   200112   65.962935
24   200201   67.218701
25   200202   68.012068
26   200203   68.374025
27   200204   69.435834
28   200205   68.840980
29   200206   70.084333
..      ...         ...
180  201501  114.279030
181  201502  113.918560
182  201503  112.575190
183  201504  112.783208
184  201505  111.438026
185  201506  113.094886
186  201507  113.560781
187  201508  113.434006
188  201509  113.888480
189  201510  114.517489
190  201511  114.012588
191  201512  115.094707
192  201601  114.058995
193  201602  115.294425
194  201603  113.514744
195  201604  114.128176
196  201605  113.629340
197  201606  115.058825
198  201607  113.591240
199  201608  115.869729
200  201609  115.261822
201  201610  114.598572
202  201611  117.738560
203  201612  118.722314
204  201701  118.603252
205  201702  117.386394
206  201703  120.052127
207  201704  117.451510
208  201705  119.723932
209  201706  120.381532

[210 rows x 2 columns]

In [10]:
#Zaman Kaydırması Yapmak için kullanıyor. 
#Butun veri zaman ekseni açısından tam ve sıralandıktan sonra yapılması gerekiyor
WorldTrade['World-1'] = WorldTrade['World'].shift(1)
WorldTrade['World-2'] = WorldTrade['World'].shift(2)
WorldTrade['World-3'] = WorldTrade['World'].shift(3)
WorldTrade['World-6'] = WorldTrade['World'].shift(6)
WorldTrade['World-12'] = WorldTrade['World'].shift(12)

In [12]:
WorldTrade

,Date,World,World-1,World-2,World-3,World-6,World-12
0,200001,64.554286,NaN,NaN,NaN,NaN,NaN
1,200002,65.614573,64.554286,NaN,NaN,NaN,NaN
2,200003,65.721381,65.614573,64.554286,NaN,NaN,NaN
3,200004,66.336496,65.721381,65.614573,64.554286,NaN,NaN
4,200005,68.283152,66.336496,65.721381,65.614573,NaN,NaN
5,200006,67.229168,68.283152,66.336496,65.721381,NaN,NaN
6,200007,68.221316,67.229168,68.283152,66.336496,64.554286,NaN
7,200008,69.392481,68.221316,67.229168,68.283152,65.614573,NaN
8,200009,69.314872,69.392481,68.221316,67.229168,65.721381,NaN
9,200010,70.237382,69.314872,69.392481,68.221316,66.336496,NaN
10,200011,70.443515,70.237382,69.314872,69.392481,68.283152,NaN
11,200012,70.512641,70.443515,70.237382,69.314872,67.229168,NaN
12,200101,70.331213,70.512641,70.443515,70.237382,68.221316,64.554286
13,200102,69.446796,70.331213,70.512641,70.443515,69.392481,65.614573
14,200103,69.163815,69.446796,70.331213,70.512641,69.314872,65.721381
15,200104,68.477830,69.163815,69.446796,70.331213,70.237382,66.336496
16,200105,68.041011,68.477830,69.163815,69.446796,70.443515,68.283152
17,200106,67.942095,68.041011,68.477830,69.163815,70.512641,67.229168
18,200107,67.135612,67.942095,68.041011,68.477830,70.331213,68.221316
19,200108,67.278883,67.135612,67.942095,68.041011,69.446796,69.392481
20,200109,66.225091,67.278883,67.135612,67.942095,69.163815,69.314872
21,200110,67.137473,66.225091,67.278883,67.135612,68.477830,70.237382
22,200111,66.861210,67.137473,66.225091,67.278883,68.041011,70.443515
23,200112,65.962935,66.861210,67.137473,66.225091,67.942095,70.512641
24,200201,67.218701,65.962935,66.861210,67.137473,67.135612,70.331213
25,200202,68.012068,67.218701,65.962935,66.861210,67.278883,69.446796
26,200203,68.374025,68.012068,67.218701,65.962935,66.225091,69.163815
27,200204,69.435834,68.374025,68.012068,67.218701,67.137473,68.477830
28,200205,68.840980,69.435834,68.374025,68.012068,66.861210,68.041011
29,200206,70.084333,68.840980,69.435834,68.374025,65.962935,67.942095
...,...,...,...,...,...,...,...
180,201501,114.279030,113.734046,112.641864,112.840266,111.399830,110.768241
181,201502,113.918560,114.279030,113.734046,112.641864,111.267429,110.085046
182,201503,112.575190,113.918560,114.279030,113.734046,112.975408,109.808163
183,201504,112.783208,112.575190,113.918560,114.279030,112.840266,110.645682
184,201505,111.438026,112.783208,112.575190,113.918560,112.641864,110.383085
185,201506,113.094886,111.438026,112.783208,112.575190,113.734046,110.425447
186,201507,113.560781,113.094886,111.438026,112.783208,114.279030,111.399830
187,201508,113.434006,113.560781,113.094886,111.438026,113.918560,111.267429
188,201509,113.888480,113.434006,113.560781,113.094886,112.575190,112.975408
189,201510,114.517489,113.888480,113.434006,113.560781,112.783208,112.840266
190,201511,114.012588,114.517489,113.888480,113.434006,111.438026,112.641864
191,201512,115.094707,114.012588,114.517489,113.888480,113.094886,113.734046
192,201601,114.058995,115.094707,114.012588,114.517489,113.560781,114.279030
193,201602,115.294425,114.058995,115.094707,114.012588,113.434006,113.918560
194,201603,113.514744,115.294425,114.058995,115.094707,113.888480,112.575190
195,201604,114.128176,113.514744,115.294425,114.058995,114.517489,112.783208
196,201605,113.629340,114.128176,113.514744,115.294425,114.012588,111.438026
197,201606,115.058825,113.629340,114.128176,113.514744,115.094707,113.094886
198,201607,113.591240,115.058825,113.629340,114.128176,114.058995,113.560781
199,201608,115.869729,113.591240,115.058825,113.629340,115.294425,113.434006
200,201609,115.261822,115.869729,113.591240,115.058825,113.514744,113.888480
201,201610,114.598572,115.261822,115.869729,113.591240,114.128176,114.517489
202,201611,117.738560,114.598572,115.261822,115.869729,113.629340,114.012588
203,201612,118.722314,117.738560,114.598572,115.261822,115.058825,115.094707
204,201701,118.603252,118.722314,117.738560,114.598572,113.591240,114.058995
205,201702,117.386394,118.603252,118.722314,117.738560,115.869729,115.294425
206,201703,120.052127,117.386394,118.603252,118.722314,115.261822,113.514744
207,201704,117.451510,120.052127,117.386394,118.603252,114.598572,114.128176
208,201705,119.723932,117.451510,120.052127,117.386394,117.738560,113.629340
209,201706,120.381532,119.723932,117.451510,120.052127,118.722314,115.058825

In [13]:

#save resulting output file

WorldTrade.to_csv('WorldTrade.csv',index = False)