In [26]:
import numpy as np
import pandas as pd
# Select Product Code 841810, 841840, or 841850

Product=841850

In [27]:
#Butun Dosyalar okunur Dosya isimleri duzenlenmelidir.
China_16 = pd.read_csv('China Export Data\{}-2016-China.txt'.format(Product),sep='\t')
China_15 = pd.read_csv('China Export Data\{}-2015-China.txt'.format(Product),sep='\t')
China_14 = pd.read_csv('China Export Data\{}-2014-China.txt'.format(Product),sep='\t')
China_12 = pd.read_csv('China Export Data\{}-2012-China.txt'.format(Product),sep='\t')
China_11 = pd.read_csv('China Export Data\{}-2011-China.txt'.format(Product),sep='\t')
China_09 = pd.read_csv('China Export Data\{}-2009-China.txt'.format(Product),sep='\t')
China_07 = pd.read_csv('China Export Data\{}-2007-China.txt'.format(Product),sep='\t')
China_06 = pd.read_csv('China Export Data\{}-2006-China.txt'.format(Product),sep='\t')

In [28]:
#Butun Importer bilgisine gore birlestirilir.
China_all = China_16.merge(China_15, 
                        on = 'Importers',how = 'left').merge(China_14,
                        on = 'Importers',how = 'left').merge(China_12,
                        on = 'Importers',how = 'left').merge(China_11, 
                        on = 'Importers',how = 'left').merge(China_09,
                        on = 'Importers',how = 'left').merge(China_07, 
                        on = 'Importers',how = 'left').merge(China_06, 
                        on = 'Importers',how = 'left')

In [29]:
#O urun grubundaki en fazla hacim yapan ülkelere bakılır. 
#2016 yılı sonu itibariyle en cok ihracat yapılan ulkeler secilmistir
China_all['Importers'].unique()

array(['World', 'United States of America', 'Indonesia', 'Australia',
       'United Kingdom', 'Italy', 'Netherlands', 'Germany', 'India',
       'Viet Nam', 'Canada', 'Djibouti', 'France', 'Japan', 'Malaysia',
       'United Arab Emirates', 'Philippines', 'Hong Kong, China',
       'Saudi Arabia', 'Poland', 'New Zealand', 'Singapore', 'Chile',
       'Thailand', 'Belgium', 'Taipei, Chinese', 'Colombia', 'Denmark',
       'South Africa', 'Romania', 'Myanmar', 'Spain', 'Azerbaijan',
       'Israel', 'Sri Lanka', 'Sweden', 'Jordan', 'Peru', 'Nigeria',
       'Iraq', 'Guatemala', 'Macao, China', 'Panama', 'Lebanon',
       'Slovenia', 'Ireland', 'Mexico', 'Korea, Republic of', 'Brazil',
       'Kenya', 'Angola', 'Dominican Republic', 'Kuwait', 'Costa Rica',
       'Bangladesh', 'Gabon', 'Russian Federation', 'Cambodia',
       'Paraguay', 'Uruguay', 'Turkey', 'Honduras', 'Finland', 'Fiji',
       'Kazakhstan', 'Portugal', 'Ethiopia', 'Uzbekistan', 'Albania',
       'Czech Republic', 'Switzerland', 'Tanzania, United Republic of',
       'Ghana', 'Bahrain', 'Liberia', 'New Caledonia',
       'Bosnia and Herzegovina', 'Mongolia', 'Serbia', 'Algeria',
       'Argentina', 'Morocco', 'Greece',
       'Bolivia, Plurinational State of', 'Ecuador', 'Pakistan', 'Mali',
       'Brunei Darussalam', 'Nepal', 'Oman', 'Qatar', 'Mozambique',
       'Kyrgyzstan', 'Austria', 'Sudan', 'Zambia', 'Jamaica', 'Hungary',
       'Norway', 'Tajikistan', 'Papua New Guinea', 'Trinidad and Tobago',
       'Ukraine', 'Palestine, State of', 'Estonia', 'Egypt', 'Nicaragua',
       "Côte d'Ivoire", 'Maldives', 'Equatorial Guinea', 'Cameroon',
       "Korea, Democratic People's Republic of",
       "Lao People's Democratic Republic",
       'Venezuela, Bolivarian Republic of', 'Benin', 'Uganda',
       'Burkina Faso', 'Senegal', 'Aruba', 'Mauritius', 'Guyana',
       'Cabo Verde', 'Bulgaria', 'Belize', 'Suriname', 'Somalia',
       'Afghanistan', 'French Polynesia', 'Congo', 'Georgia',
       'Sao Tome and Principe', 'Congo, Democratic Republic of the',
       'El Salvador', 'Solomon Islands', 'Malta', 'Togo', 'South Sudan',
       'Gambia', 'Haiti', 'Burundi', 'Madagascar', 'Zimbabwe',
       'Mauritania', 'Vanuatu', 'Cyprus', 'Croatia', 'Comoros',
       'Sint Maarten (Dutch part)', 'Namibia', 'Yemen', 'Samoa',
       'Slovakia', 'Seychelles', 'Sierra Leone', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Tonga',
       'Syrian Arab Republic', 'Western Sahara', 'Sudan (before 2012)',
       'Macedonia, The Former Yugoslav Republic of', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tunisia', 'Moldova, Republic of',
       'Montenegro', 'Oceania Nes', 'Netherlands Antilles', 'Curaçao',
       'Niger', 'Micronesia, Federated States of', 'Marshall Islands',
       'Palau', 'Timor-Leste', 'Malawi', 'Latvia', 'Libya, State of',
       'Lithuania', 'Luxembourg', 'Iceland', 'Iran, Islamic Republic of',
       'Chad', 'Cayman Islands', 'Belarus', 'Botswana',
       'Antigua and Barbuda', 'Bahamas', 'Armenia', 'Barbados', 'Bermuda',
       'Bhutan', 'Cuba', 'Cook Islands', 'Dominica', 'Grenada', 'Guinea',
       'Kiribati'], dtype=object)

In [30]:
#Butun okunanların birlestirir, transposunu alır ve index'i kaldırır Bunu urun grubuna göre yapar

# 841810 için ilk 5 ülke
#'World', 'United States of America', 'Japan', 'France',
#       'United Kingdom', 'Australia'
if Product==841810 :

    China_all=China_all[(
    (China_all['Importers']=='World')  
   | (China_all['Importers']=='United States of America') 
   | (China_all['Importers']=='Japan')
   | (China_all['Importers']=='France')
   | (China_all['Importers']=='United Kingdom')
   | (China_all['Importers']=='Australia')
    )].transpose().reset_index()

# 841840 için ilk 5 ülke
#'World', 'United States of America', 'France', 'Germany',
#       'Japan', 'United Kingdom',
elif Product==841840:
    China_all=China_all[(
    (China_all['Importers']=='World')  
   | (China_all['Importers']=='United States of America') 
   | (China_all['Importers']=='Japan')
   | (China_all['Importers']=='France')
   | (China_all['Importers']=='United Kingdom')
   | (China_all['Importers']=='Germany')
    )].transpose().reset_index()


# 841850 için ilk 5 ülke
#'World', 'United States of America', 'Australia', 'Italy',
#       'Indonesia', 'United Kingdom', 
elif Product==841850:


    China_all=China_all[(
    (China_all['Importers']=='World')  
   | (China_all['Importers']=='United States of America') 
   | (China_all['Importers']=='United Kingdom')
   | (China_all['Importers']=='Australia')
   | (China_all['Importers']=='Italy')
   | (China_all['Importers']=='Indonesia')
    )].transpose().reset_index()

In [31]:
# İlk Satırı Kolon isimleri yapar ve NaN olan satırları siler 
China_all.columns = China_all.iloc[0]
China_all=China_all.reindex(China_all.index.drop(0))

#China_all=China_all.dropna()

China_all.loc[:, 'Date'] = 0

i=China_all[China_all['Importers'].str.contains("Unnamed")==True].index
China_all.drop(i,inplace=True)

China_all=China_all.drop_duplicates('World')

In [32]:
China_all

,Importers,World,United States of America,Indonesia,Australia,United Kingdom,Italy,Date
1,Exported value in 2016-M05_x,83999,19337,3837,6455,4003,5540,0
2,Exported value in 2016-M06_x,70053,14994,3083,5970,3036,3212,0
3,Exported value in 2016-M07_x,73801,16272,1888,8194,3273,3072,0
4,Exported value in 2016-M08_x,76555,15942,3381,5856,4218,4194,0
5,Exported value in 2016-M09_x,76235,15743,6892,7133,2964,4579,0
6,Exported value in 2016-M10_x,61081,14344,3423,5591,3678,2524,0
7,Exported value in 2016-M11_x,73246,16972,4418,7638,2901,3148,0
8,Exported value in 2016-M12_x,70734,15746,2658,5850,4227,5997,0
9,Exported value in 2017-M01_x,81627,21556,4142,8508,3923,4420,0
10,Exported value in 2017-M02_x,49263,16832,1088,4827,1640,3179,0
11,Exported value in 2017-M03_x,79018,20244,2408,8144,3269,3976,0
12,Exported value in 2017-M04_x,85231,19757,3775,6653,3267,7400,0
13,Exported value in 2017-M05_x,89453,20369,4368,7634,3940,4910,0
14,Exported value in 2017-M06,83119,19047,1811,7070,4483,4522,0
15,Exported value in 2017-M07,77071,18750,4054,6152,3491,1294,0
16,Exported value in 2017-M08,78286,15443,2712,5895,4837,4094,0
17,Exported value in 2017-M09,76128,17303,2127,5355,3226,3604,0
18,Exported value in 2017-M10,74822,17163,5386,5601,3003,2913,0
19,Exported value in 2017-M11,85245,21111,4013,7499,1973,3606,0
20,Exported value in 2017-M12,97631,20210,7596,7581,5063,4842,0
22,Exported value in 2015-M10_x,57570,11175,2512,7279,2624,3632,0
23,Exported value in 2015-M11,59736,12931,2647,9212,1885,2092,0
24,Exported value in 2015-M12,73728,15873,3358,5653,3437,4870,0
25,Exported value in 2016-M01,70526,16636,2209,8136,2858,3503,0
26,Exported value in 2016-M02,51182,8514,1633,4934,3150,2784,0
27,Exported value in 2016-M03,66369,12486,1449,6132,3308,4965,0
28,Exported value in 2016-M04,70014,14807,2907,6103,3032,2692,0
43,Exported value in 2014-M03_x,48968,6955,2975,3228,2958,3241,0
44,Exported value in 2014-M04,56665,8255,3043,3611,4122,2766,0
45,Exported value in 2014-M05,60039,9325,2218,3969,3770,3661,0
...,...,...,...,...,...,...,...,...
135,Exported value in 2008-M07,27130,4267,2171,1188,1573,1294,0
136,Exported value in 2008-M08,25728,4164,1305,2018,1468,1088,0
137,Exported value in 2008-M09,21116,3317,1018,1034,1533,1481,0
138,Exported value in 2008-M10,22288,4171,761,2007,993,1437,0
139,Exported value in 2008-M11,20421,5140,905,1386,1051,833,0
140,Exported value in 2008-M12,19214,3362,296,1470,404,722,0
141,Exported value in 2009-M01,18757,3356,362,766,751,538,0
142,Exported value in 2009-M02,12491,2614,180,1102,456,232,0
143,Exported value in 2009-M03,21671,4674,1024,1414,609,266,0
144,Exported value in 2009-M04,21710,5211,914,569,557,212,0
145,Exported value in 2009-M05,26200,6848,1022,1512,1145,166,0
148,Exported value in 2006-M04,18826,5128,572,623,1091,685,0
149,Exported value in 2006-M05,17703,4987,357,813,992,670,0
150,Exported value in 2006-M06,20071,5945,810,1167,992,658,0
151,Exported value in 2006-M07,20918,5519,904,1268,1505,169,0
152,Exported value in 2006-M08,23262,6561,873,731,1148,657,0
153,Exported value in 2006-M09,24104,7191,1050,1683,1200,505,0
154,Exported value in 2006-M10,20984,6800,510,2709,791,605,0
155,Exported value in 2006-M11,20148,4970,468,1611,1426,990,0
156,Exported value in 2006-M12,19165,4410,1249,1594,1019,671,0
157,Exported value in 2007-M01,19277,4845,1555,1940,1562,542,0
158,Exported value in 2007-M02,21954,4516,584,2050,764,1248,0
159,Exported value in 2007-M03,21376,5175,831,460,1571,1188,0
160,Exported value in 2007-M04,29783,7137,1037,838,1738,1760,0
161,Exported value in 2007-M05,32606,11846,667,1224,1857,1152,0
162,Exported value in 2007-M06,35738,10010,1300,920,1191,1696,0
163,Exported value in 2007-M07,34327,10326,1326,1038,2493,1650,0
164,Exported value in 2007-M08,38455,12255,1330,908,2796,2388,0
165,Exported value in 2007-M09,26579,8973,818,1430,2155,1864,0
166,Exported value in 2007-M10,32340,11725,528,2317,3878,1011,0

In [33]:
def finddate(expression):
        
    year=expression.split('-M')[0]
    year=year.split()[3]
    month=expression.split('-M')[1]
    month=month.split('_')[0]
    date=int(year+month)

    return date

In [34]:
for num in range(0,China_all.shape[0]):
    China_all.iloc[num,7]=finddate(China_all.iloc[num,0])

In [35]:
China_all.drop('Importers',axis=1,inplace=True)
China_all=China_all.sort_values(by='Date', ascending=1)

In [36]:
if Product==841810 :
# 841810 için ilk 5 ülke
#'World', 'United States of AmeriWorld, 'Japan', 'France',
#       'United Kingdom', 'AustraWorld'

    China_all=China_all.rename(columns = {'United Kingdom':'CHN_GBR_841810'})
    China_all['CHN_GBR_841810-1'] = China_all['CHN_GBR_841810'].shift(1)
    China_all['CHN_GBR_841810-2'] = China_all['CHN_GBR_841810'].shift(2)
    China_all['CHN_GBR_841810-3'] = China_all['CHN_GBR_841810'].shift(3)
    China_all['CHN_GBR_841810-6'] = China_all['CHN_GBR_841810'].shift(6)
    China_all['CHN_GBR_841810-12'] = China_all['CHN_GBR_841810'].shift(12)

    China_all=China_all.rename(columns = {'World':'CHN_World_841810'})
    China_all['CHN_World_841810-1'] = China_all['CHN_World_841810'].shift(1)
    China_all['CHN_World_841810-2'] = China_all['CHN_World_841810'].shift(2)
    China_all['CHN_World_841810-3'] = China_all['CHN_World_841810'].shift(3)
    China_all['CHN_World_841810-6'] = China_all['CHN_World_841810'].shift(6)
    China_all['CHN_World_841810-12'] = China_all['CHN_World_841810'].shift(12)
    
    China_all=China_all.rename(columns = {'United States of America':'CHN_USA_841810'})
    China_all['CHN_USA_841810-1'] = China_all['CHN_USA_841810'].shift(1)
    China_all['CHN_USA_841810-2'] = China_all['CHN_USA_841810'].shift(2)
    China_all['CHN_USA_841810-3'] = China_all['CHN_USA_841810'].shift(3)
    China_all['CHN_USA_841810-6'] = China_all['CHN_USA_841810'].shift(6)
    China_all['CHN_USA_841810-12'] = China_all['CHN_USA_841810'].shift(12)

    China_all=China_all.rename(columns = {'Japan':'CHN_JPN_841810'})
    China_all['CHN_JPN_841810-1'] = China_all['CHN_JPN_841810'].shift(1)
    China_all['CHN_JPN_841810-2'] = China_all['CHN_JPN_841810'].shift(2)
    China_all['CHN_JPN_841810-3'] = China_all['CHN_JPN_841810'].shift(3)
    China_all['CHN_JPN_841810-6'] = China_all['CHN_JPN_841810'].shift(6)
    China_all['CHN_JPN_841810-12'] = China_all['CHN_JPN_841810'].shift(12)

    China_all=China_all.rename(columns = {'France':'CHN_FRA_841810'})
    China_all['CHN_FRA_841810-1'] = China_all['CHN_FRA_841810'].shift(1)
    China_all['CHN_FRA_841810-2'] = China_all['CHN_FRA_841810'].shift(2)
    China_all['CHN_FRA_841810-3'] = China_all['CHN_FRA_841810'].shift(3)
    China_all['CHN_FRA_841810-6'] = China_all['CHN_FRA_841810'].shift(6)
    China_all['CHN_FRA_841810-12'] = China_all['CHN_FRA_841810'].shift(12)

    
    China_all=China_all.rename(columns = {'Australia':'CHN_AUS_841810'})
    China_all['CHN_AUS_841810-1'] = China_all['CHN_AUS_841810'].shift(1)
    China_all['CHN_AUS_841810-2'] = China_all['CHN_AUS_841810'].shift(2)
    China_all['CHN_AUS_841810-3'] = China_all['CHN_AUS_841810'].shift(3)
    China_all['CHN_AUS_841810-6'] = China_all['CHN_AUS_841810'].shift(6)
    China_all['CHN_AUS_841810-12'] = China_all['CHN_AUS_841810'].shift(12)
    
elif Product==841840:
# 841840 için ilk 5 ülke
#'World', 'United States of America', 'France', 'Germany',
#       'Japan', 'United Kingdom',
    
    China_all=China_all.rename(columns = {'United Kingdom':'CHN_GBR_841840'})
    China_all['CHN_GBR_841840-1'] = China_all['CHN_GBR_841840'].shift(1)
    China_all['CHN_GBR_841840-2'] = China_all['CHN_GBR_841840'].shift(2)
    China_all['CHN_GBR_841840-3'] = China_all['CHN_GBR_841840'].shift(3)
    China_all['CHN_GBR_841840-6'] = China_all['CHN_GBR_841840'].shift(6)
    China_all['CHN_GBR_841840-12'] = China_all['CHN_GBR_841840'].shift(12)

    China_all=China_all.rename(columns = {'World':'CHN_World_841840'})
    China_all['CHN_World_841840-1'] = China_all['CHN_World_841840'].shift(1)
    China_all['CHN_World_841840-2'] = China_all['CHN_World_841840'].shift(2)
    China_all['CHN_World_841840-3'] = China_all['CHN_World_841840'].shift(3)
    China_all['CHN_World_841840-6'] = China_all['CHN_World_841840'].shift(6)
    China_all['CHN_World_841840-12'] = China_all['CHN_World_841840'].shift(12)
    
    China_all=China_all.rename(columns = {'United States of America':'CHN_USA_841840'})
    China_all['CHN_USA_841840-1'] = China_all['CHN_USA_841840'].shift(1)
    China_all['CHN_USA_841840-2'] = China_all['CHN_USA_841840'].shift(2)
    China_all['CHN_USA_841840-3'] = China_all['CHN_USA_841840'].shift(3)
    China_all['CHN_USA_841840-6'] = China_all['CHN_USA_841840'].shift(6)
    China_all['CHN_USA_841840-12'] = China_all['CHN_USA_841840'].shift(12)

    China_all=China_all.rename(columns = {'Japan':'CHN_JPN_841840'})
    China_all['CHN_JPN_841840-1'] = China_all['CHN_JPN_841840'].shift(1)
    China_all['CHN_JPN_841840-2'] = China_all['CHN_JPN_841840'].shift(2)
    China_all['CHN_JPN_841840-3'] = China_all['CHN_JPN_841840'].shift(3)
    China_all['CHN_JPN_841840-6'] = China_all['CHN_JPN_841840'].shift(6)
    China_all['CHN_JPN_841840-12'] = China_all['CHN_JPN_841840'].shift(12)

    China_all=China_all.rename(columns = {'France':'CHN_FRA_841840'})
    China_all['CHN_FRA_841840-1'] = China_all['CHN_FRA_841840'].shift(1)
    China_all['CHN_FRA_841840-2'] = China_all['CHN_FRA_841840'].shift(2)
    China_all['CHN_FRA_841840-3'] = China_all['CHN_FRA_841840'].shift(3)
    China_all['CHN_FRA_841840-6'] = China_all['CHN_FRA_841840'].shift(6)
    China_all['CHN_FRA_841840-12'] = China_all['CHN_FRA_841840'].shift(12)
    
    China_all=China_all.rename(columns = {'Germany':'CHN_DEU_841840'})
    China_all['CHN_DEU_841840-1'] = China_all['CHN_DEU_841840'].shift(1)
    China_all['CHN_DEU_841840-2'] = China_all['CHN_DEU_841840'].shift(2)
    China_all['CHN_DEU_841840-3'] = China_all['CHN_DEU_841840'].shift(3)
    China_all['CHN_DEU_841840-6'] = China_all['CHN_DEU_841840'].shift(6)
    China_all['CHN_DEU_841840-12'] = China_all['CHN_DEU_841840'].shift(12)
    
elif Product==841850:
    
# 841850 için ilk 5 ülke
#'World', 'United States of America', 'Australia', 'Italy',
#       'Indonesia', 'United Kingdom', 

    China_all=China_all.rename(columns = {'United Kingdom':'CHN_GBR_841850'})
    China_all['CHN_GBR_841850-1'] = China_all['CHN_GBR_841850'].shift(1)
    China_all['CHN_GBR_841850-2'] = China_all['CHN_GBR_841850'].shift(2)
    China_all['CHN_GBR_841850-3'] = China_all['CHN_GBR_841850'].shift(3)
    China_all['CHN_GBR_841850-6'] = China_all['CHN_GBR_841850'].shift(6)
    China_all['CHN_GBR_841850-12'] = China_all['CHN_GBR_841850'].shift(12)

    China_all=China_all.rename(columns = {'World':'CHN_World_841850'})
    China_all['CHN_World_841850-1'] = China_all['CHN_World_841850'].shift(1)
    China_all['CHN_World_841850-2'] = China_all['CHN_World_841850'].shift(2)
    China_all['CHN_World_841850-3'] = China_all['CHN_World_841850'].shift(3)
    China_all['CHN_World_841850-6'] = China_all['CHN_World_841850'].shift(6)
    China_all['CHN_World_841850-12'] = China_all['CHN_World_841850'].shift(12)

    China_all=China_all.rename(columns = {'United States of America':'CHN_USA_841850'})
    China_all['CHN_USA_841850-1'] = China_all['CHN_USA_841850'].shift(1)
    China_all['CHN_USA_841850-2'] = China_all['CHN_USA_841850'].shift(2)
    China_all['CHN_USA_841850-3'] = China_all['CHN_USA_841850'].shift(3)
    China_all['CHN_USA_841850-6'] = China_all['CHN_USA_841850'].shift(6)
    China_all['CHN_USA_841850-12'] = China_all['CHN_USA_841850'].shift(12)
    
    China_all=China_all.rename(columns = {'Australia':'CHN_AUS_841850'})
    China_all['CHN_AUS_841850-1'] = China_all['CHN_AUS_841850'].shift(1)
    China_all['CHN_AUS_841850-2'] = China_all['CHN_AUS_841850'].shift(2)
    China_all['CHN_AUS_841850-3'] = China_all['CHN_AUS_841850'].shift(3)
    China_all['CHN_AUS_841850-6'] = China_all['CHN_AUS_841850'].shift(6)
    China_all['CHN_AUS_841850-12'] = China_all['CHN_AUS_841850'].shift(12)
    
    China_all=China_all.rename(columns = {'Italy':'CHN_ITA_841850'})
    China_all['CHN_ITA_841850-1'] = China_all['CHN_ITA_841850'].shift(1)
    China_all['CHN_ITA_841850-2'] = China_all['CHN_ITA_841850'].shift(2)
    China_all['CHN_ITA_841850-3'] = China_all['CHN_ITA_841850'].shift(3)
    China_all['CHN_ITA_841850-6'] = China_all['CHN_ITA_841850'].shift(6)
    China_all['CHN_ITA_841850-12'] = China_all['CHN_ITA_841850'].shift(12)

    China_all=China_all.rename(columns = {'Indonesia':'CHN_IDN_841850'})
    China_all['CHN_IDN_841850-1'] = China_all['CHN_IDN_841850'].shift(1)
    China_all['CHN_IDN_841850-2'] = China_all['CHN_IDN_841850'].shift(2)
    China_all['CHN_IDN_841850-3'] = China_all['CHN_IDN_841850'].shift(3)
    China_all['CHN_IDN_841850-6'] = China_all['CHN_IDN_841850'].shift(6)
    China_all['CHN_IDN_841850-12'] = China_all['CHN_IDN_841850'].shift(12)

In [37]:

#China_all=China_all.dropna()
China_all.to_excel('{}_China_all.xlsx'.format(Product),index = False)