In [1]:
import numpy as np
import pandas as pd
# Select Product Code 841810, 841840, or 841850
Product=841810

In [2]:
#Butun Dosyalar okunur Dosya isimleri duzenlenmelidir.
Turkey_17 = pd.read_csv('Turkey Export Data\{}-2017-Turkey.txt'.format(Product),sep='\t')
Turkey_16 = pd.read_csv('Turkey Export Data\{}-2016-Turkey.txt'.format(Product),sep='\t')
Turkey_14 = pd.read_csv('Turkey Export Data\{}-2014-Turkey.txt'.format(Product),sep='\t')
Turkey_12 = pd.read_csv('Turkey Export Data\{}-2012-Turkey.txt'.format(Product),sep='\t')
Turkey_11 = pd.read_csv('Turkey Export Data\{}-2011-Turkey.txt'.format(Product),sep='\t')
Turkey_09 = pd.read_csv('Turkey Export Data\{}-2009-Turkey.txt'.format(Product),sep='\t')
Turkey_08 = pd.read_csv('Turkey Export Data\{}-2008-Turkey.txt'.format(Product),sep='\t')
Turkey_06 = pd.read_csv('Turkey Export Data\{}-2006-Turkey.txt'.format(Product),sep='\t')

In [3]:
#Butun Importer bilgisine gore birlestirilir.
TUR_all = Turkey_17.merge(Turkey_16, 
                        on = 'Importers',how = 'left').merge(Turkey_14,
                        on = 'Importers',how = 'left').merge(Turkey_12,
                        on = 'Importers',how = 'left').merge(Turkey_11, 
                        on = 'Importers',how = 'left').merge(Turkey_09,
                        on = 'Importers',how = 'left').merge(Turkey_08, 
                        on = 'Importers',how = 'left').merge(Turkey_06, 
                        on = 'Importers',how = 'left')

In [4]:
#O urun grubundaki en fazla hacim yapan ülkelere bakılır. 
#2016 yılı sonu itibariyle en cok ihracat yapılan ulkeler secilmistir
TUR_all['Importers'].unique()

array(['World', 'United Kingdom', 'France', 'United States of America',
       'Italy', 'Spain', 'Germany', 'Morocco', 'Sweden', 'Algeria',
       'Egypt', 'Romania', 'Iraq', 'Poland', 'Greece', 'Israel',
       'Ukraine', 'Canada', 'Netherlands', 'Portugal', 'China',
       'Bulgaria', 'Croatia', 'Georgia', 'Australia', 'Denmark',
       'Libya, State of', 'Serbia', 'Azerbaijan', 'India', 'Bangladesh',
       'Jordan', 'Hungary', 'Cyprus', 'Belgium', 'Russian Federation',
       'Czech Republic', 'Macedonia, The Former Yugoslav Republic of',
       'Austria', 'Bosnia and Herzegovina', 'Finland', 'Tunisia',
       'Slovenia', 'Syrian Arab Republic', 'Moldova, Republic of',
       'Singapore', 'Slovakia', 'Argentina', 'Ireland', 'Kazakhstan',
       'Saudi Arabia', 'South Africa', 'Malaysia', 'United Arab Emirates',
       'Lebanon', 'Switzerland', 'Malta', 'Kuwait', 'New Zealand',
       'Thailand', 'Hong Kong, China', 'Montenegro', 'Albania', 'Nigeria',
       'Uzbekistan', 'Senegal', 'Benin', 'Chile', 'Tajikistan', 'Togo',
       'Turkmenistan', 'Qatar', 'Peru', 'New Caledonia', 'Burkina Faso',
       'Brunei Darussalam', 'Lithuania', 'Seychelles', 'Mongolia',
       'Norway', 'Uruguay', 'Congo', 'Myanmar', 'Sri Lanka', 'Estonia',
       'Sudan', 'Kyrgyzstan', 'Gabon', 'Saint Vincent and the Grenadines',
       'Yemen', 'Wallis and Futuna Islands',
       'Tanzania, United Republic of', 'Free Zones', 'Uganda',
       'Sudan (before 2012)', 'Somalia', 'Sierra Leone', 'Viet Nam',
       'Guinea-Bissau', 'Rwanda', 'Saint Lucia', 'Pakistan', 'Paraguay',
       'Philippines', 'Niger', 'Aruba', 'Mozambique', 'Oman', 'Nepal',
       'Maldives', 'Mali', 'Mauritania', 'Mauritius', 'Mexico',
       'Taipei, Chinese', "Côte d'Ivoire", 'Japan', 'Kenya',
       'Korea, Republic of', 'Madagascar', 'Latvia', 'Liberia', 'Fiji',
       'Gambia', 'Palestine, State of', 'Djibouti', 'Iceland',
       'Indonesia', 'Iran, Islamic Republic of', 'Guinea', 'Guyana',
       'Ghana', 'Chad', 'Congo, Democratic Republic of the', 'Cabo Verde',
       'Dominican Republic', 'Ecuador', 'Equatorial Guinea', 'Ethiopia',
       'Belarus', 'Cameroon', 'Brazil', 'Bolivia, Plurinational State of',
       'Bahrain', 'Angola', 'Afghanistan'], dtype=object)

In [5]:
#Butun okunanların birlestirir, transposunu alır ve index'i kaldırır Bunu urun grubuna göre yapar


# 841810 için ilk 5 ülke
#World, Germany, United Kingdom, Italy, 
#France, United States of America
if Product==841810 :

    TUR_all=TUR_all[(
    (TUR_all['Importers']=='World')  
   | (TUR_all['Importers']=='Germany')
   | (TUR_all['Importers']=='United Kingdom')
   | (TUR_all['Importers']=='Italy')
   | (TUR_all['Importers']=='France')
   | (TUR_all['Importers']=='United States of America') 
    )].transpose().reset_index()


# 841840 için ilk 5 ülke
#World, United Kingdom, United States of America, France, 
#Germany, Sweden
elif Product==841840:
    TUR_all=TUR_all[(
    (TUR_all['Importers']=='World')  
    | (TUR_all['Importers']=='United Kingdom')
    | (TUR_all['Importers']=='United States of America') 
    | (TUR_all['Importers']=='France')
    | (TUR_all['Importers']=='Germany')
    | (TUR_all['Importers']=='Sweden')
    )].transpose().reset_index()


# 841850 için ilk 5 ülke
#'World', 'United Kingdom', 'Germany', 
#'Iraq','Saudi Arabia', 'Netherlands',
elif Product==841850:
    TUR_all=TUR_all[(
    (TUR_all['Importers']=='World')  
   | (TUR_all['Importers']=='United Kingdom')
   | (TUR_all['Importers']=='Germany')
   | (TUR_all['Importers']=='Iraq')
   | (TUR_all['Importers']=='Saudi Arabia')
   | (TUR_all['Importers']=='Netherlands')
    )].transpose().reset_index()

In [6]:
# İlk Satırı Kolon isimleri yapar ve NaN olan satırları siler 
TUR_all.columns = TUR_all.iloc[0]
TUR_all=TUR_all.reindex(TUR_all.index.drop(0))

#TUR_all=TUR_all.dropna()

TUR_all.loc[:, 'Date'] = 0

i=TUR_all[TUR_all['Importers'].str.contains("Unnamed")==True].index
TUR_all.drop(i,inplace=True)

TUR_all=TUR_all.drop_duplicates('World')

In [7]:
TUR_all

,Importers,World,United Kingdom,France,United States of America,Italy,Germany,Date
1,Exported value in 2016-M11_x,61826,10677,3562,5627,4017,6050,0
2,Exported value in 2016-M12_x,66666,8971,3875,4611,3510,6439,0
3,Exported value in 2017-M01_x,40662,6554,2723,2726,4559,7658,0
4,Exported value in 2017-M02_x,58224,7754,3097,3852,5668,9207,0
5,Exported value in 2017-M03_x,75240,6264,4583,5424,5400,9220,0
6,Exported value in 2017-M04_x,69499,6228,5392,4455,5189,8826,0
7,Exported value in 2017-M05_x,88272,8058,5890,4612,6806,12734,0
8,Exported value in 2017-M06_x,87453,10745,7012,6670,7568,8665,0
9,Exported value in 2017-M07_x,84924,8186,6235,3273,8954,9178,0
10,Exported value in 2017-M08_x,101723,14531,5684,3577,11142,13066,0
11,Exported value in 2017-M09,72268,10606,4351,4746,7295,12954,0
12,Exported value in 2017-M10,84833,13107,4611,4733,7519,15676,0
13,Exported value in 2017-M11,74945,7683,4026,9126,4961,11999,0
14,Exported value in 2017-M12,78976,7865,4861,8774,5405,11721,0
15,Exported value in 2018-M01,55082,6044,3598,5138,5922,10888,0
16,Exported value in 2018-M02,74927,7280,3424,5210,7626,17992,0
17,Exported value in 2018-M03,87661,6215,5302,6934,6810,13576,0
18,Exported value in 2018-M04,82951,7421,5953,7281,5212,9605,0
19,Exported value in 2018-M05,91212,11349,7358,5196,6786,8838,0
20,Exported value in 2018-M06,81531,9479,7578,7573,6832,5830,0
22,Exported value in 2016-M01_x,37385,7440,2448,2467,2626,5951,0
23,Exported value in 2016-M02,70974,9601,5073,3831,5751,14349,0
24,Exported value in 2016-M03,79212,9244,5552,4201,8053,15669,0
25,Exported value in 2016-M04,85003,9243,4708,6460,8240,13671,0
26,Exported value in 2016-M05,84843,11577,6933,4582,8035,9661,0
27,Exported value in 2016-M06,99539,11138,7890,6562,7552,9549,0
28,Exported value in 2016-M07,67001,6276,4489,2850,4576,6754,0
29,Exported value in 2016-M08,93711,13450,8237,4565,6546,10792,0
30,Exported value in 2016-M09,69114,9977,3958,4133,4866,12451,0
31,Exported value in 2016-M10,69627,10952,3843,5774,5982,9359,0
...,...,...,...,...,...,...,...,...
135,Exported value in 2008-M10,19169,4048,1581,82,117,144,0
136,Exported value in 2008-M11,13894,3860,1345,60,104,334,0
137,Exported value in 2008-M12,13064,3381,973,107,0,310,0
138,Exported value in 2009-M01,10277,1945,684,133,26,140,0
139,Exported value in 2009-M02,8590,1240,851,55,64,109,0
140,Exported value in 2009-M03,16245,4215,1181,145,21,211,0
141,Exported value in 2009-M04,12015,4060,1433,134,55,270,0
142,Exported value in 2009-M05,15604,3808,1531,28,46,181,0
143,Exported value in 2009-M06,18899,5951,1712,66,40,87,0
144,Exported value in 2009-M07,19800,6497,1944,316,128,206,0
145,Exported value in 2009-M08,15926,4371,1308,121,32,24,0
148,Exported value in 2006-M07,1175,10,0,0,0,0,0
149,Exported value in 2006-M08,1371,15,12,0,0,0,0
150,Exported value in 2006-M09,672,93,0,0,0,0,0
151,Exported value in 2006-M10,2057,246,10,0,0,0,0
152,Exported value in 2006-M11,17353,7548,1150,0,8,146,0
153,Exported value in 2006-M12,17955,5796,933,1,78,496,0
154,Exported value in 2007-M01,14170,6397,527,2,23,245,0
155,Exported value in 2007-M02,16731,6030,756,0,36,123,0
156,Exported value in 2007-M03,23045,6373,1985,0,59,714,0
157,Exported value in 2007-M04,22497,6893,2096,131,63,309,0
158,Exported value in 2007-M05,24496,6122,2904,0,60,54,0
159,Exported value in 2007-M06,21741,4507,2292,97,113,69,0
160,Exported value in 2007-M07,17664,2382,1437,101,43,121,0
161,Exported value in 2007-M08,18100,3673,1458,50,124,117,0
162,Exported value in 2007-M09,17491,4907,969,0,85,52,0
163,Exported value in 2007-M10,23756,6694,1043,125,89,179,0
164,Exported value in 2007-M11,25570,7148,1553,49,72,95,0
165,Exported value in 2007-M12,20082,4496,2177,45,52,131,0
166,Exported value in 2008-M01,12126,2687,802,0,134,105,0

In [8]:
def finddate(expression):
        
    year=expression.split('-M')[0]
    year=year.split()[3]
    month=expression.split('-M')[1]
    month=month.split('_')[0]
    date=int(year+month)

    return date

In [9]:
for num in range(0,TUR_all.shape[0]):
    TUR_all.iloc[num,7]=finddate(TUR_all.iloc[num,0])

In [10]:
TUR_all.drop('Importers',axis=1,inplace=True)
TUR_all=TUR_all.sort_values(by='Date', ascending=1)

In [11]:
TUR_all

,World,United Kingdom,France,United States of America,Italy,Germany,Date
148,1175,10,0,0,0,0,200607
149,1371,15,12,0,0,0,200608
150,672,93,0,0,0,0,200609
151,2057,246,10,0,0,0,200610
152,17353,7548,1150,0,8,146,200611
153,17955,5796,933,1,78,496,200612
154,14170,6397,527,2,23,245,200701
155,16731,6030,756,0,36,123,200702
156,23045,6373,1985,0,59,714,200703
157,22497,6893,2096,131,63,309,200704
158,24496,6122,2904,0,60,54,200705
159,21741,4507,2292,97,113,69,200706
160,17664,2382,1437,101,43,121,200707
161,18100,3673,1458,50,124,117,200708
162,17491,4907,969,0,85,52,200709
163,23756,6694,1043,125,89,179,200710
164,25570,7148,1553,49,72,95,200711
165,20082,4496,2177,45,52,131,200712
166,12126,2687,802,0,134,105,200801
127,15696,3498,1136,0,67,128,200802
128,17698,2666,2495,62,77,226,200803
129,25314,2974,2686,169,129,234,200804
130,23671,3612,2338,88,97,182,200805
131,22217,3973,1568,195,121,120,200806
132,21293,5747,2394,70,135,77,200807
133,20322,5511,1477,251,118,120,200808
134,20324,5468,1686,61,86,572,200809
135,19169,4048,1581,82,117,144,200810
136,13894,3860,1345,60,104,334,200811
137,13064,3381,973,107,0,310,200812
...,...,...,...,...,...,...,...
30,69114,9977,3958,4133,4866,12451,201609
31,69627,10952,3843,5774,5982,9359,201610
1,61826,10677,3562,5627,4017,6050,201611
2,66666,8971,3875,4611,3510,6439,201612
34,40694,6554,2723,2726,4559,7658,201701
3,40662,6554,2723,2726,4559,7658,201701
35,58612,7754,3097,3852,6021,9207,201702
4,58224,7754,3097,3852,5668,9207,201702
36,75367,6264,4583,5424,5400,9220,201703
5,75240,6264,4583,5424,5400,9220,201703
6,69499,6228,5392,4455,5189,8826,201704
37,69554,6228,5392,4455,5189,8826,201704
38,88383,8058,5890,4612,6806,12734,201705
7,88272,8058,5890,4612,6806,12734,201705
39,89084,10765,7012,6670,7589,8682,201706
8,87453,10745,7012,6670,7568,8665,201706
40,85128,8186,6235,3273,8947,9178,201707
9,84924,8186,6235,3273,8954,9178,201707
10,101723,14531,5684,3577,11142,13066,201708
41,101747,14531,5684,3577,11142,13066,201708
11,72268,10606,4351,4746,7295,12954,201709
12,84833,13107,4611,4733,7519,15676,201710
13,74945,7683,4026,9126,4961,11999,201711
14,78976,7865,4861,8774,5405,11721,201712
15,55082,6044,3598,5138,5922,10888,201801
16,74927,7280,3424,5210,7626,17992,201802
17,87661,6215,5302,6934,6810,13576,201803
18,82951,7421,5953,7281,5212,9605,201804
19,91212,11349,7358,5196,6786,8838,201805
20,81531,9479,7578,7573,6832,5830,201806

In [15]:
TUR_all=TUR_all.reindex(columns=['United Kingdom','World','France','United States of America','Italy','Germany','Date'])

In [16]:
TUR_all

,United Kingdom,World,France,United States of America,Italy,Germany,Date
148,10,1175,0,0,0,0,200607
149,15,1371,12,0,0,0,200608
150,93,672,0,0,0,0,200609
151,246,2057,10,0,0,0,200610
152,7548,17353,1150,0,8,146,200611
153,5796,17955,933,1,78,496,200612
154,6397,14170,527,2,23,245,200701
155,6030,16731,756,0,36,123,200702
156,6373,23045,1985,0,59,714,200703
157,6893,22497,2096,131,63,309,200704
158,6122,24496,2904,0,60,54,200705
159,4507,21741,2292,97,113,69,200706
160,2382,17664,1437,101,43,121,200707
161,3673,18100,1458,50,124,117,200708
162,4907,17491,969,0,85,52,200709
163,6694,23756,1043,125,89,179,200710
164,7148,25570,1553,49,72,95,200711
165,4496,20082,2177,45,52,131,200712
166,2687,12126,802,0,134,105,200801
127,3498,15696,1136,0,67,128,200802
128,2666,17698,2495,62,77,226,200803
129,2974,25314,2686,169,129,234,200804
130,3612,23671,2338,88,97,182,200805
131,3973,22217,1568,195,121,120,200806
132,5747,21293,2394,70,135,77,200807
133,5511,20322,1477,251,118,120,200808
134,5468,20324,1686,61,86,572,200809
135,4048,19169,1581,82,117,144,200810
136,3860,13894,1345,60,104,334,200811
137,3381,13064,973,107,0,310,200812
...,...,...,...,...,...,...,...
30,9977,69114,3958,4133,4866,12451,201609
31,10952,69627,3843,5774,5982,9359,201610
1,10677,61826,3562,5627,4017,6050,201611
2,8971,66666,3875,4611,3510,6439,201612
34,6554,40694,2723,2726,4559,7658,201701
3,6554,40662,2723,2726,4559,7658,201701
35,7754,58612,3097,3852,6021,9207,201702
4,7754,58224,3097,3852,5668,9207,201702
36,6264,75367,4583,5424,5400,9220,201703
5,6264,75240,4583,5424,5400,9220,201703
6,6228,69499,5392,4455,5189,8826,201704
37,6228,69554,5392,4455,5189,8826,201704
38,8058,88383,5890,4612,6806,12734,201705
7,8058,88272,5890,4612,6806,12734,201705
39,10765,89084,7012,6670,7589,8682,201706
8,10745,87453,7012,6670,7568,8665,201706
40,8186,85128,6235,3273,8947,9178,201707
9,8186,84924,6235,3273,8954,9178,201707
10,14531,101723,5684,3577,11142,13066,201708
41,14531,101747,5684,3577,11142,13066,201708
11,10606,72268,4351,4746,7295,12954,201709
12,13107,84833,4611,4733,7519,15676,201710
13,7683,74945,4026,9126,4961,11999,201711
14,7865,78976,4861,8774,5405,11721,201712
15,6044,55082,3598,5138,5922,10888,201801
16,7280,74927,3424,5210,7626,17992,201802
17,6215,87661,5302,6934,6810,13576,201803
18,7421,82951,5953,7281,5212,9605,201804
19,11349,91212,7358,5196,6786,8838,201805
20,9479,81531,7578,7573,6832,5830,201806

In [ ]:
TUR_DF=TUR_all.rename(columns = {'United Kingdom':'TUR_GBR_841810'})

In [ ]:
#TUR_DF1['TUR_GBR_841810']=TUR_all['United Kingdom']

In [ ]:
# 841810 için ilk 5 ülke
#World, Germany, United Kingdom, Italy, 
#France, United States of America
if Product==841810 :

    TUR_DF=TUR_all.rename(columns = {'United Kingdom':'TUR_GBR_841810'})
    TUR_DF['TUR_GBR_841810-1'] = TUR_all['TUR_GBR_841810'].shift(1)
    TUR_DF['TUR_GBR_841810-2'] = TUR_all['TUR_GBR_841810'].shift(2)
    TUR_DF['TUR_GBR_841810-3'] = TUR_all['TUR_GBR_841810'].shift(3)
    TUR_DF['TUR_GBR_841810-6'] = TUR_all['TUR_GBR_841810'].shift(6)
    TUR_DF['TUR_GBR_841810-12'] = TUR_all['TUR_GBR_841810'].shift(12)

    TUR_all=TUR_all.rename(columns = {'World':'TUR_World_841810'})
    TUR_all['TUR_World_841810-1']=TUR_all['TUR_World_841810'].shift(1)
    TUR_all['TUR_World_841810-2']=TUR_all['TUR_World_841810'].shift(2)
    TUR_all['TUR_World_841810-3']= TUR_all['TUR_World_841810'].shift(3)
    TUR_all['TUR_World_841810-6']=TUR_all['TUR_World_841810'].shift(6)
    TUR_all['TUR_World_841810-12']=TUR_all['TUR_World_841810'].shift(12)
    
    
    TUR_all=TUR_all.rename(columns={'United States of America':'TUR_USA_841810'})
    TUR_all['TUR_USA_841810-1'] = TUR_all['TUR_USA_841810'].shift(1)
    TUR_all['TUR_USA_841810-2'] = TUR_all['TUR_USA_841810'].shift(2)
    TUR_all['TUR_USA_841810-3'] = TUR_all['TUR_USA_841810'].shift(3)
    TUR_all['TUR_USA_841810-6'] = TUR_all['TUR_USA_841810'].shift(6)
    TUR_all['TUR_USA_841810-12'] = TUR_all['TUR_USA_841810'].shift(12)

    TUR_all=TUR_all.rename(columns={'Germany':'TUR_DEU_841810'})
    TUR_all['TUR_DEU_841810-1']=TUR_all['TUR_DEU_841810'].shift(1)
    TUR_all['TUR_DEU_841810-2']=TUR_all['TUR_DEU_841810'].shift(2)
    TUR_all['TUR_DEU_841810-3']=TUR_all['TUR_DEU_841810'].shift(3)
    TUR_all['TUR_DEU_841810-6']=TUR_all['TUR_DEU_841810'].shift(6)
    TUR_all['TUR_DEU_841810-12']=TUR_all['TUR_DEU_841810'].shift(12)

    TUR_all=TUR_all.rename(columns = {'France':'TUR_FRA_841810'})
    TUR_all['TUR_FRA_841810-1'] = TUR_all['TUR_FRA_841810'].shift(1)
    TUR_all['TUR_FRA_841810-2'] = TUR_all['TUR_FRA_841810'].shift(2)
    TUR_all['TUR_FRA_841810-3'] = TUR_all['TUR_FRA_841810'].shift(3)
    TUR_all['TUR_FRA_841810-6'] = TUR_all['TUR_FRA_841810'].shift(6)
    TUR_all['TUR_FRA_841810-12'] = TUR_all['TUR_FRA_841810'].shift(12)

    
    TUR_all=TUR_all.rename(columns = {'Italy':'TUR_ITA_841810'})
    TUR_all['TUR_ITA_841810-1'] = TUR_all['TUR_ITA_841810'].shift(1)
    TUR_all['TUR_ITA_841810-2'] = TUR_all['TUR_ITA_841810'].shift(2)
    TUR_all['TUR_ITA_841810-3'] = TUR_all['TUR_ITA_841810'].shift(3)
    TUR_all['TUR_ITA_841810-6'] = TUR_all['TUR_ITA_841810'].shift(6)
    TUR_all['TUR_ITA_841810-12'] = TUR_all['TUR_ITA_841810'].shift(12)
 
elif Product==841840:
    
# 841840 için ilk 5 ülke
#World, United Kingdom, United States of America, France, 
#Germany, Sweden
   
    TUR_all=TUR_all.rename(columns = {'United Kingdom':'TUR_GBR_841840'})
    TUR_all['TUR_GBR_841840-1'] = TUR_all['TUR_GBR_841840'].shift(1)
    TUR_all['TUR_GBR_841840-2'] = TUR_all['TUR_GBR_841840'].shift(2)
    TUR_all['TUR_GBR_841840-3'] = TUR_all['TUR_GBR_841840'].shift(3)
    TUR_all['TUR_GBR_841840-6'] = TUR_all['TUR_GBR_841840'].shift(6)
    TUR_all['TUR_GBR_841840-12'] = TUR_all['TUR_GBR_841840'].shift(12)
   
    TUR_all=TUR_all.rename(columns = {'World':'TUR_World_841840'})
    TUR_all['TUR_World_841840-1'] = TUR_all['TUR_World_841840'].shift(1)
    TUR_all['TUR_World_841840-2'] = TUR_all['TUR_World_841840'].shift(2)
    TUR_all['TUR_World_841840-3'] = TUR_all['TUR_World_841840'].shift(3)
    TUR_all['TUR_World_841840-6'] = TUR_all['TUR_World_841840'].shift(6)
    TUR_all['TUR_World_841840-12'] = TUR_all['TUR_World_841840'].shift(12)
    
    
    TUR_all=TUR_all.rename(columns={'United States of America':'TUR_USA_841840'})
    TUR_all['TUR_USA_841840-1'] = TUR_all['TUR_USA_841840'].shift(1)
    TUR_all['TUR_USA_841840-2'] = TUR_all['TUR_USA_841840'].shift(2)
    TUR_all['TUR_USA_841840-3'] = TUR_all['TUR_USA_841840'].shift(3)
    TUR_all['TUR_USA_841840-6'] = TUR_all['TUR_USA_841840'].shift(6)
    TUR_all['TUR_USA_841840-12'] = TUR_all['TUR_USA_841840'].shift(12)

    TUR_all=TUR_all.rename(columns = {'Germany':'TUR_DEU_841840'})
    TUR_all['TUR_DEU_841840-1'] = TUR_all['TUR_DEU_841840'].shift(1)
    TUR_all['TUR_DEU_841840-2'] = TUR_all['TUR_DEU_841840'].shift(2)
    TUR_all['TUR_DEU_841840-3'] = TUR_all['TUR_DEU_841840'].shift(3)
    TUR_all['TUR_DEU_841840-6'] = TUR_all['TUR_DEU_841840'].shift(6)
    TUR_all['TUR_DEU_841840-12'] = TUR_all['TUR_DEU_841840'].shift(12)

    TUR_all=TUR_all.rename(columns = {'France':'TUR_FRA_841840'})
    TUR_all['TUR_FRA_841840-1'] = TUR_all['TUR_FRA_841840'].shift(1)
    TUR_all['TUR_FRA_841840-2'] = TUR_all['TUR_FRA_841840'].shift(2)
    TUR_all['TUR_FRA_841840-3'] = TUR_all['TUR_FRA_841840'].shift(3)
    TUR_all['TUR_FRA_841840-6'] = TUR_all['TUR_FRA_841840'].shift(6)
    TUR_all['TUR_FRA_841840-12'] = TUR_all['TUR_FRA_841840'].shift(12)

 
    TUR_all=TUR_all.rename(columns = {'Sweden':'TUR_SWE_841840'})
    TUR_all['TUR_SWE_841840-1'] = TUR_all['TUR_SWE_841840'].shift(1)
    TUR_all['TUR_SWE_841840-2'] = TUR_all['TUR_SWE_841840'].shift(2)
    TUR_all['TUR_SWE_841840-3'] = TUR_all['TUR_SWE_841840'].shift(3)
    TUR_all['TUR_SWE_841840-6'] = TUR_all['TUR_SWE_841840'].shift(6)
    TUR_all['TUR_SWE_841840-12'] = TUR_all['TUR_SWE_841840'].shift(12)



# 841850 için ilk 5 ülke
#'World', 'United Kingdom', 'Germany', 
#'Iraq','Saudi Arabia', 'Netherlands',
elif Product==841850:

    TUR_all=TUR_all.rename(columns = {'United Kingdom':'TUR_GBR_841850'})
    TUR_all['TUR_GBR_841850-1'] = TUR_all['TUR_GBR_841850'].shift(1)
    TUR_all['TUR_GBR_841850-2'] = TUR_all['TUR_GBR_841850'].shift(2)
    TUR_all['TUR_GBR_841850-3'] = TUR_all['TUR_GBR_841850'].shift(3)
    TUR_all['TUR_GBR_841850-6'] = TUR_all['TUR_GBR_841850'].shift(6)
    TUR_all['TUR_GBR_841850-12'] = TUR_all['TUR_GBR_841850'].shift(12)
    
        
    TUR_all=TUR_all.rename(columns = {'World':'TUR_World_841850'})
    TUR_all['TUR_World_841850-1'] = TUR_all['TUR_World_841850'].shift(1)
    TUR_all['TUR_World_841850-2'] = TUR_all['TUR_World_841850'].shift(2)
    TUR_all['TUR_World_841850-3'] = TUR_all['TUR_World_841850'].shift(3)
    TUR_all['TUR_World_841850-6'] = TUR_all['TUR_World_841850'].shift(6)
    TUR_all['TUR_World_841850-12'] = TUR_all['TUR_World_841850'].shift(12)
    
    
    TUR_all=TUR_all.rename(columns = {'Germany':'TUR_DEU_841850'})
    TUR_all['TUR_DEU_841850-1'] = TUR_all['TUR_DEU_841850'].shift(1)
    TUR_all['TUR_DEU_841850-2'] = TUR_all['TUR_DEU_841850'].shift(2)
    TUR_all['TUR_DEU_841850-3'] = TUR_all['TUR_DEU_841850'].shift(3)
    TUR_all['TUR_DEU_841850-6'] = TUR_all['TUR_DEU_841850'].shift(6)
    TUR_all['TUR_DEU_841850-12'] = TUR_all['TUR_DEU_841850'].shift(12)

    TUR_all=TUR_all.rename(columns = {'Iraq':'TUR_IRQ_841850'})
    TUR_all['TUR_IRQ_841850-1'] = TUR_all['TUR_IRQ_841850'].shift(1)
    TUR_all['TUR_IRQ_841850-2'] = TUR_all['TUR_IRQ_841850'].shift(2)
    TUR_all['TUR_IRQ_841850-3'] = TUR_all['TUR_IRQ_841850'].shift(3)
    TUR_all['TUR_IRQ_841850-6'] = TUR_all['TUR_IRQ_841850'].shift(6)
    TUR_all['TUR_IRQ_841850-12'] = TUR_all['TUR_IRQ_841850'].shift(12)


    TUR_all=TUR_all.rename(columns = {'Saudi Arabia':'TUR_SAU_841850'})
    TUR_all['TUR_SAU_841850-1'] = TUR_all['TUR_SAU_841850'].shift(1)
    TUR_all['TUR_SAU_841850-2'] = TUR_all['TUR_SAU_841850'].shift(2)
    TUR_all['TUR_SAU_841850-3'] = TUR_all['TUR_SAU_841850'].shift(3)
    TUR_all['TUR_SAU_841850-6'] = TUR_all['TUR_SAU_841850'].shift(6)
    TUR_all['TUR_SAU_841850-12'] = TUR_all['TUR_SAU_841850'].shift(12)

    
    TUR_all=TUR_all.rename(columns = {'Netherlands':'TUR_NLD_841850'})
    TUR_all['TUR_NLD_841850-1'] = TUR_all['TUR_NLD_841850'].shift(1)
    TUR_all['TUR_NLD_841850-2'] = TUR_all['TUR_NLD_841850'].shift(2)
    TUR_all['TUR_NLD_841850-3'] = TUR_all['TUR_NLD_841850'].shift(3)
    TUR_all['TUR_NLD_841850-6'] = TUR_all['TUR_NLD_841850'].shift(6)
    TUR_all['TUR_NLD_841850-12'] = TUR_all['TUR_NLD_841850'].shift(12)

In [ ]:
TUR_all=TUR_all.dropna()
TUR_all.to_excel('{}_TUR_all.xlsx'.format(Product),index = False)