In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
# Select Product Code 841810, 841840, or 841850
Product=841850

In [2]:
#'My number is: {one}, and my name is: {two}'.format(one=num,two=name)
'UK Import Mirror Data\{}-2015-UK-Import-mirror.txt'.format(Product)

'UK Import Mirror Data\\841850-2015-UK-Import-mirror.txt'

In [3]:
#Butun Dosyalar okunur Dosya isimleri duzenlenmelidir.
UK_16 = pd.read_csv('UK Import Mirror Data\{}-2016-UK-Import-mirror.txt'.format(Product),sep='\t')
UK_15 = pd.read_csv('UK Import Mirror Data\{}-2015-UK-Import-mirror.txt'.format(Product),sep='\t')
UK_13 = pd.read_csv('UK Import Mirror Data\{}-2013-UK-Import-mirror.txt'.format(Product),sep='\t')
UK_12 = pd.read_csv('UK Import Mirror Data\{}-2012-UK-Import-mirror.txt'.format(Product),sep='\t')
UK_10 = pd.read_csv('UK Import Mirror Data\{}-2010-UK-Import-mirror.txt'.format(Product),sep='\t')
UK_08 = pd.read_csv('UK Import Mirror Data\{}-2008-UK-Import-mirror.txt'.format(Product),sep='\t')
UK_07 = pd.read_csv('UK Import Mirror Data\{}-2007-UK-Import-mirror.txt'.format(Product),sep='\t')
UK_05 = pd.read_csv('UK Import Mirror Data\{}-2005-UK-Import-mirror.txt'.format(Product),sep='\t')
UK_04 = pd.read_csv('UK Import Mirror Data\{}-2004-UK-Import-mirror.txt'.format(Product),sep='\t')

In [4]:
#Butun Importer bilgisine gore birlestirilir.
UK_all = UK_16.merge(UK_15, 
                        on = 'Exporters',how = 'left').merge(UK_13,
                        on = 'Exporters',how = 'left').merge(UK_12, 
                        on = 'Exporters',how = 'left').merge(UK_10,
                        on = 'Exporters',how = 'left').merge(UK_08, 
                        on = 'Exporters',how = 'left').merge(UK_07,
                        on = 'Exporters',how = 'left').merge(UK_05,
                        on = 'Exporters',how = 'left').merge(UK_04,
                        on = 'Exporters',how = 'left')

In [5]:
#O urun grubundaki en fazla hacim yapan ülkelere bakılır. 
#2016 yılı sonu itibariyle en cok ihracat yapılan ulkeler secilmistir
UK_all['Exporters'].unique()

array(['Turkey', 'United States of America', 'South Africa',
       'Switzerland', 'New Zealand', 'Australia', 'Austria', 'Belgium',
       'Bermuda', 'Bulgaria', 'Canada', 'China', 'Czech Republic',
       'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Hungary',
       'Ireland', 'Israel', 'Italy', 'Kenya', 'Korea, Republic of',
       'Latvia', 'Lithuania', 'Malaysia', 'Mexico', 'Taipei, Chinese',
       'Netherlands', 'Norway', 'Poland', 'Portugal', 'Romania',
       'Russian Federation', 'India', 'Singapore', 'Slovakia', 'Slovenia',
       'Thailand', 'Spain', 'Sweden'], dtype=object)

In [6]:
#Butun okunanların birlestirir, transposunu alır ve index'i kaldırır Bunu urun grubuna göre yapar
# 841810 için ilk 5 ülke
#'World', 'China', 'Poland', 'Turkey', 'Korea, Republic of', 'Italy'
if Product==841810 :
    UK_all=UK_all[(
    
    (UK_all['Exporters']=='Poland') 
   | (UK_all['Exporters']=='Korea, Republic of')
   | (UK_all['Exporters']=='Italy')
   | (UK_all['Exporters']=='Turkey')
   | (UK_all['Exporters']=='China')        
    )].transpose().reset_index()
# 841840 için ilk 5 ülke
#''World', 'China', 'Turkey', 'Germany', 'Netherlands', 'Hungary',
elif Product==841840:
    UK_all=UK_all[(
    (UK_all['Exporters']=='World')  
   | (UK_all['Exporters']=='Germany') 
   | (UK_all['Exporters']=='Netherlands')
   | (UK_all['Exporters']=='Hungary')
   | (UK_all['Exporters']=='Turkey')
   | (UK_all['Exporters']=='China')        

    )].transpose().reset_index()

# 841850 için ilk 5 ülke
#'World', 'China', 'Turkey', 'Austria', 'Czech Republic', 'Italy',
#       

elif Product==841850:
    UK_all=UK_all[(
    (UK_all['Exporters']=='World')  
   | (UK_all['Exporters']=='Austria') 
   | (UK_all['Exporters']=='Czech Republic')
   | (UK_all['Exporters']=='Italy')
   | (UK_all['Exporters']=='Turkey')
   | (UK_all['Exporters']=='China')        

    )].transpose().reset_index()

In [ ]:
UK_all

In [7]:
# İlk Satırı Kolon isimleri yapar ve NaN olan satırları siler 
UK_all.columns = UK_all.iloc[0]
UK_all=UK_all.reindex(UK_all.index.drop(0))


#UK_all=UK_all.dropna(thresh=5)
UK_all.loc[:, 'Date'] = 0

i=UK_all[UK_all['Exporters'].str.contains("Unnamed")==True].index
UK_all.drop(i,inplace=True)

In [8]:
#if Product==841840 :
#    UK_all=UK_all.drop_duplicates(subset=['World', 'Germany'])
#else:
#    UK_all=UK_all.drop_duplicates('World')

In [9]:
UK_all[UK_all['Exporters']=='Unnamed: 21_x'].count()

0
Exporters         0
Turkey            0
Austria           0
China             0
Czech Republic    0
Italy             0
Date              0
dtype: int64

In [10]:
def finddate(expression):
        
    year=expression.split('-M')[0]
    year=year.split()[3]
    month=expression.split('-M')[1]
    month=month.split('_')[0]
    date=int(year+month)

    return date

In [11]:
for num in range(0,UK_all.shape[0]):
    UK_all.iloc[num,6]=finddate(UK_all.iloc[num,0])

In [12]:
UK_all.drop('Exporters',axis=1,inplace=True)
UK_all=UK_all.sort_values(by='Date', ascending=1)

UK_all=UK_all.drop_duplicates('Date')

In [13]:
if Product==841810 :
    UK_all=UK_all.reindex(columns=['Turkey','China','Poland','Korea, Republic of','Italy','Date'])

    UK_all=UK_all.rename(columns = {'Turkey':'TUR_GBR_841810'})
    UK_all['TUR_GBR_841810-1'] = UK_all['TUR_GBR_841810'].shift(1)
    UK_all['TUR_GBR_841810-2'] = UK_all['TUR_GBR_841810'].shift(2)
    UK_all['TUR_GBR_841810-3'] = UK_all['TUR_GBR_841810'].shift(3)
    UK_all['TUR_GBR_841810-6'] = UK_all['TUR_GBR_841810'].shift(6)
    UK_all['TUR_GBR_841810-12'] = UK_all['TUR_GBR_841810'].shift(12)

    UK_all=UK_all.rename(columns = {'China':'CHN_GBR_841810'})
    UK_all['CHN_GBR_841810-1'] = UK_all['CHN_GBR_841810'].shift(1)
    UK_all['CHN_GBR_841810-2'] = UK_all['CHN_GBR_841810'].shift(2)
    UK_all['CHN_GBR_841810-3'] = UK_all['CHN_GBR_841810'].shift(3)
    UK_all['CHN_GBR_841810-6'] = UK_all['CHN_GBR_841810'].shift(6)
    UK_all['CHN_GBR_841810-12'] = UK_all['CHN_GBR_841810'].shift(12)

    UK_all=UK_all.rename(columns = {'Poland':'POL_GBR_841810'})
    UK_all['POL_GBR_841810-1'] = UK_all['POL_GBR_841810'].shift(1)
    UK_all['POL_GBR_841810-2'] = UK_all['POL_GBR_841810'].shift(2)
    UK_all['POL_GBR_841810-3'] = UK_all['POL_GBR_841810'].shift(3)
    UK_all['POL_GBR_841810-6'] = UK_all['POL_GBR_841810'].shift(6)
    UK_all['POL_GBR_841810-12'] = UK_all['POL_GBR_841810'].shift(12)

    UK_all=UK_all.rename(columns = {'Korea, Republic of':'KOR_GBR_841810'})
    UK_all['KOR_GBR_841810-1'] = UK_all['KOR_GBR_841810'].shift(1)
    UK_all['KOR_GBR_841810-2'] = UK_all['KOR_GBR_841810'].shift(2)
    UK_all['KOR_GBR_841810-3'] = UK_all['KOR_GBR_841810'].shift(3)
    UK_all['KOR_GBR_841810-6'] = UK_all['KOR_GBR_841810'].shift(6)
    UK_all['KOR_GBR_841810-12'] = UK_all['KOR_GBR_841810'].shift(12)

    UK_all=UK_all.rename(columns = {'Italy':'ITA_GBR_841810'})
    UK_all['ITA_GBR_841810-1'] = UK_all['ITA_GBR_841810'].shift(1)
    UK_all['ITA_GBR_841810-2'] = UK_all['ITA_GBR_841810'].shift(2)
    UK_all['ITA_GBR_841810-3'] = UK_all['ITA_GBR_841810'].shift(3)
    UK_all['ITA_GBR_841810-6'] = UK_all['ITA_GBR_841810'].shift(6)
    UK_all['ITA_GBR_841810-12'] = UK_all['ITA_GBR_841810'].shift(12)

elif Product==841840:

    UK_all=UK_all.reindex(columns=['Turkey','China','Germany','Netherlands','Hungary','Date'])
    UK_all=UK_all.rename(columns = {'Turkey':'TUR_GBR_841840'})
    UK_all['TUR_GBR_841840-1'] = UK_all['TUR_GBR_841840'].shift(1)
    UK_all['TUR_GBR_841840-2'] = UK_all['TUR_GBR_841840'].shift(2)
    UK_all['TUR_GBR_841840-3'] = UK_all['TUR_GBR_841840'].shift(3)
    UK_all['TUR_GBR_841840-6'] = UK_all['TUR_GBR_841840'].shift(6)
    UK_all['TUR_GBR_841840-12'] = UK_all['TUR_GBR_841840'].shift(12)

    UK_all=UK_all.rename(columns = {'China':'CHN_GBR_841840'})
    UK_all['CHN_GBR_841840-1'] = UK_all['CHN_GBR_841840'].shift(1)
    UK_all['CHN_GBR_841840-2'] = UK_all['CHN_GBR_841840'].shift(2)
    UK_all['CHN_GBR_841840-3'] = UK_all['CHN_GBR_841840'].shift(3)
    UK_all['CHN_GBR_841840-6'] = UK_all['CHN_GBR_841840'].shift(6)
    UK_all['CHN_GBR_841840-12'] = UK_all['CHN_GBR_841840'].shift(12)

    
    UK_all=UK_all.rename(columns = {'Germany':'DEU_GBR_841840'})
    UK_all['DEU_GBR_841840-1'] = UK_all['DEU_GBR_841840'].shift(1)
    UK_all['DEU_GBR_841840-2'] = UK_all['DEU_GBR_841840'].shift(2)
    UK_all['DEU_GBR_841840-3'] = UK_all['DEU_GBR_841840'].shift(3)
    UK_all['DEU_GBR_841840-6'] = UK_all['DEU_GBR_841840'].shift(6)
    UK_all['DEU_GBR_841840-12'] = UK_all['DEU_GBR_841840'].shift(12)

    UK_all=UK_all.rename(columns = {'Netherlands':'NLD_GBR_841840'})
    UK_all['NLD_GBR_841840-1'] = UK_all['NLD_GBR_841840'].shift(1)
    UK_all['NLD_GBR_841840-2'] = UK_all['NLD_GBR_841840'].shift(2)
    UK_all['NLD_GBR_841840-3'] = UK_all['NLD_GBR_841840'].shift(3)
    UK_all['NLD_GBR_841840-6'] = UK_all['NLD_GBR_841840'].shift(6)
    UK_all['NLD_GBR_841840-12'] = UK_all['NLD_GBR_841840'].shift(12)

    UK_all=UK_all.rename(columns = {'Hungary':'HUN_GBR_841840'})
    UK_all['HUN_GBR_841840-1'] = UK_all['HUN_GBR_841840'].shift(1)
    UK_all['HUN_GBR_841840-2'] = UK_all['HUN_GBR_841840'].shift(2)
    UK_all['HUN_GBR_841840-3'] = UK_all['HUN_GBR_841840'].shift(3)
    UK_all['HUN_GBR_841840-6'] = UK_all['HUN_GBR_841840'].shift(6)
    UK_all['HUN_GBR_841840-12'] = UK_all['HUN_GBR_841840'].shift(12)
    
elif Product==841850:
    UK_all=UK_all.reindex(columns=['Turkey','China','Austria','Czech Republic','Italy','Date'])
    UK_all=UK_all.rename(columns = {'Turkey':'TUR_GBR_841850'})
    UK_all['TUR_GBR_841850-1'] = UK_all['TUR_GBR_841850'].shift(1)
    UK_all['TUR_GBR_841850-2'] = UK_all['TUR_GBR_841850'].shift(2)
    UK_all['TUR_GBR_841850-3'] = UK_all['TUR_GBR_841850'].shift(3)
    UK_all['TUR_GBR_841850-6'] = UK_all['TUR_GBR_841850'].shift(6)
    UK_all['TUR_GBR_841850-12'] = UK_all['TUR_GBR_841850'].shift(12)

    UK_all=UK_all.rename(columns = {'China':'CHN_GBR_841850'})
    UK_all['CHN_GBR_841850-1'] = UK_all['CHN_GBR_841850'].shift(1)
    UK_all['CHN_GBR_841850-2'] = UK_all['CHN_GBR_841850'].shift(2)
    UK_all['CHN_GBR_841850-3'] = UK_all['CHN_GBR_841850'].shift(3)
    UK_all['CHN_GBR_841850-6'] = UK_all['CHN_GBR_841850'].shift(6)
    UK_all['CHN_GBR_841850-12'] = UK_all['CHN_GBR_841850'].shift(12)

    
    UK_all=UK_all.rename(columns = {'Austria':'AUT_GBR_841850'})
    UK_all['AUT_GBR_841850-1'] = UK_all['AUT_GBR_841850'].shift(1)
    UK_all['AUT_GBR_841850-2'] = UK_all['AUT_GBR_841850'].shift(2)
    UK_all['AUT_GBR_841850-3'] = UK_all['AUT_GBR_841850'].shift(3)
    UK_all['AUT_GBR_841850-6'] = UK_all['AUT_GBR_841850'].shift(6)
    UK_all['AUT_GBR_841850-12'] = UK_all['AUT_GBR_841850'].shift(12)

    UK_all=UK_all.rename(columns = {'Czech Republic':'CHZ_GBR_841850'})
    UK_all['CHZ_GBR_841850-1'] = UK_all['CHZ_GBR_841850'].shift(1)
    UK_all['CHZ_GBR_841850-2'] = UK_all['CHZ_GBR_841850'].shift(2)
    UK_all['CHZ_GBR_841850-3'] = UK_all['CHZ_GBR_841850'].shift(3)
    UK_all['CHZ_GBR_841850-6'] = UK_all['CHZ_GBR_841850'].shift(6)
    UK_all['CHZ_GBR_841850-12'] = UK_all['CHZ_GBR_841850'].shift(12)

    UK_all=UK_all.rename(columns = {'Italy':'ITA_GBR_841850'})
    UK_all['ITA_GBR_841850-1'] = UK_all['ITA_GBR_841850'].shift(1)
    UK_all['ITA_GBR_841850-2'] = UK_all['ITA_GBR_841850'].shift(2)
    UK_all['ITA_GBR_841850-3'] = UK_all['ITA_GBR_841850'].shift(3)
    UK_all['ITA_GBR_841850-6'] = UK_all['ITA_GBR_841850'].shift(6)
    UK_all['ITA_GBR_841850-12'] = UK_all['ITA_GBR_841850'].shift(12)

In [14]:
UK_all=UK_all.drop_duplicates('Date')
#UK_all=UK_all.dropna()
UK_all.to_excel('{}_GBR_all.xlsx'.format(Product),index = False)