In [86]:
import numpy as np
import pandas as pd
from pathlib import Path
# Select Product Code 841810, 841840, or 841850
Product=841810

In [87]:
#'My number is: {one}, and my name is: {two}'.format(one=num,two=name)
'UK Import Mirror Data\{}-2015-UK-Import-mirror.txt'.format(Product)

'UK Import Mirror Data\\841810-2015-UK-Import-mirror.txt'

In [88]:
#Butun Dosyalar okunur Dosya isimleri duzenlenmelidir.
UK_16 = pd.read_csv('UK Import Mirror Data\{}-2016-UK-Import-mirror.txt'.format(Product),sep='\t')
UK_15 = pd.read_csv('UK Import Mirror Data\{}-2015-UK-Import-mirror.txt'.format(Product),sep='\t')
UK_13 = pd.read_csv('UK Import Mirror Data\{}-2013-UK-Import-mirror.txt'.format(Product),sep='\t')
UK_12 = pd.read_csv('UK Import Mirror Data\{}-2012-UK-Import-mirror.txt'.format(Product),sep='\t')
UK_10 = pd.read_csv('UK Import Mirror Data\{}-2010-UK-Import-mirror.txt'.format(Product),sep='\t')
UK_08 = pd.read_csv('UK Import Mirror Data\{}-2008-UK-Import-mirror.txt'.format(Product),sep='\t')
UK_07 = pd.read_csv('UK Import Mirror Data\{}-2007-UK-Import-mirror.txt'.format(Product),sep='\t')
UK_05 = pd.read_csv('UK Import Mirror Data\{}-2005-UK-Import-mirror.txt'.format(Product),sep='\t')
UK_04 = pd.read_csv('UK Import Mirror Data\{}-2004-UK-Import-mirror.txt'.format(Product),sep='\t')

In [89]:
#Butun Importer bilgisine gore birlestirilir.
UK_all = UK_16.merge(UK_15, 
                        on = 'Exporters',how = 'left').merge(UK_13,
                        on = 'Exporters',how = 'left').merge(UK_12, 
                        on = 'Exporters',how = 'left').merge(UK_10,
                        on = 'Exporters',how = 'left').merge(UK_08, 
                        on = 'Exporters',how = 'left').merge(UK_07,
                        on = 'Exporters',how = 'left').merge(UK_05,
                        on = 'Exporters',how = 'left').merge(UK_04,
                        on = 'Exporters',how = 'left')

In [90]:
#O urun grubundaki en fazla hacim yapan ülkelere bakılır. 
#2016 yılı sonu itibariyle en cok ihracat yapılan ulkeler secilmistir
UK_all['Exporters'].unique()

array(['Turkey', 'Korea, Republic of', 'United States of America',
       'Norway', 'Philippines', 'Poland', 'Portugal', 'Romania', 'Serbia',
       'India', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa',
       'Spain', 'Sweden', 'Switzerland', 'Thailand', 'Lithuania',
       'Mexico', 'Netherlands', 'Australia', 'Austria', 'Belgium',
       'Bermuda', 'Bulgaria', 'Canada', 'China', 'Czech Republic',
       'Denmark', 'Estonia', 'France', 'Germany', 'Greece', 'Hungary',
       'Ireland', 'Italy'], dtype=object)

In [91]:
#Butun okunanların birlestirir, transposunu alır ve index'i kaldırır Bunu urun grubuna göre yapar
# 841810 için ilk 5 ülke
#'World', 'China', 'Poland', 'Turkey', 'Korea, Republic of', 'Italy'
if Product==841810 :
    UK_all=UK_all[(
    
    (UK_all['Exporters']=='Poland') 
   | (UK_all['Exporters']=='Korea, Republic of')
   | (UK_all['Exporters']=='Italy')
   | (UK_all['Exporters']=='Turkey')
   | (UK_all['Exporters']=='China')        
    )].transpose().reset_index()
# 841840 için ilk 5 ülke
#''World', 'China', 'Turkey', 'Germany', 'Netherlands', 'Hungary',
elif Product==841840:
    UK_all=UK_all[(
    (UK_all['Exporters']=='World')  
   | (UK_all['Exporters']=='Germany') 
   | (UK_all['Exporters']=='Netherlands')
   | (UK_all['Exporters']=='Hungary')
   | (UK_all['Exporters']=='Turkey')
   | (UK_all['Exporters']=='China')        

    )].transpose().reset_index()

# 841850 için ilk 5 ülke
#'World', 'China', 'Turkey', 'Austria', 'Czech Republic', 'Italy',
#       

elif Product==841850:
    UK_all=UK_all[(
    (UK_all['Exporters']=='World')  
   | (UK_all['Exporters']=='Austria') 
   | (UK_all['Exporters']=='Czech Republic')
   | (UK_all['Exporters']=='Italy')
   | (UK_all['Exporters']=='Turkey')
   | (UK_all['Exporters']=='China')        

    )].transpose().reset_index()

In [92]:
UK_all

,index,0,1,5,27,36
0,Exporters,Turkey,"Korea, Republic of",Poland,China,Italy
1,Imported value in 2016-M11_x,10677,3852,9167,13908,3185
2,Imported value in 2016-M12,8971,2370,6128,12372,1888
3,Imported value in 2017-M01,6554,2720,4586,12786,2833
4,Imported value in 2017-M02,7754,1583,5230,12007,3201
5,Imported value in 2017-M03,6264,1301,4037,12493,3574
6,Imported value in 2017-M04,6228,1977,4902,8924,2388
7,Imported value in 2017-M05,8058,3290,6072,12955,3834
8,Imported value in 2017-M06,10745,3577,8244,13279,2693
9,Imported value in 2017-M07,8186,3285,6016,13762,2700
10,Imported value in 2017-M08,14531,4157,6073,17149,2337
11,Imported value in 2017-M09,10606,5112,7340,16072,4403
12,Imported value in 2017-M10,13107,2630,6912,17063,3224
13,Imported value in 2017-M11,7683,3486,7426,16218,2794
14,Imported value in 2017-M12,7865,2408,6130,11329,2125
15,Imported value in 2018-M01,6044,3547,4159,NaN,3651
16,Imported value in 2018-M02,7280,3145,4504,NaN,3182
17,Imported value in 2018-M03,6215,1341,4858,NaN,2351
18,Imported value in 2018-M04,7421,1282,5909,NaN,3931
19,Imported value in 2018-M05,11349,1849,NaN,NaN,NaN
20,Imported value in 2018-M06,9479,1409,NaN,NaN,NaN
21,Unnamed: 21_x,NaN,NaN,NaN,NaN,NaN
22,Imported value in 2015-M04_x,10365,4386,3684,9058,3224
23,Imported value in 2015-M05,7802,2541,3166,11683,3849
24,Imported value in 2015-M06,12593,2259,6225,8536,3862
25,Imported value in 2015-M07,11406,4830,6006,8920,3732
26,Imported value in 2015-M08,10671,2325,5909,14194,2621
27,Imported value in 2015-M09,13414,4447,6343,10988,4735
28,Imported value in 2015-M10,12048,5812,7651,11724,5730
29,Imported value in 2015-M11,13764,3621,6196,8194,4180
...,...,...,...,...,...,...
160,Imported value in 2006-M10,246,NaN,1556,12617,11333
161,Imported value in 2006-M11,7548,NaN,446,7766,9902
162,Imported value in 2006-M12,5796,NaN,676,9841,5730
163,Imported value in 2007-M01,6397,NaN,1715,4094,5842
164,Imported value in 2007-M02,6030,NaN,2219,7378,7452
165,Imported value in 2007-M03,6373,NaN,770,5818,5213
166,Imported value in 2007-M04,6893,NaN,278,5785,6953
167,Imported value in 2007-M05_y,6122,NaN,359,5587,9437
168,Unnamed: 21_y,NaN,NaN,NaN,NaN,NaN
169,Imported value in 2004-M03,NaN,NaN,181,NaN,4936
170,Imported value in 2004-M04,NaN,NaN,525,NaN,4588
171,Imported value in 2004-M05,NaN,NaN,582,NaN,5524
172,Imported value in 2004-M06,NaN,NaN,769,NaN,7705
173,Imported value in 2004-M07,NaN,NaN,966,NaN,7919
174,Imported value in 2004-M08,NaN,NaN,972,NaN,3132
175,Imported value in 2004-M09,9,NaN,529,NaN,5418
176,Imported value in 2004-M10,1,NaN,636,NaN,9804
177,Imported value in 2004-M11,7,NaN,497,NaN,10177
178,Imported value in 2004-M12,NaN,NaN,381,NaN,5963
179,Imported value in 2005-M01,NaN,NaN,232,1402,7813
180,Imported value in 2005-M02,52,NaN,457,1009,8053
181,Imported value in 2005-M03,NaN,NaN,159,1216,7777
182,Imported value in 2005-M04,NaN,NaN,366,2042,6532
183,Imported value in 2005-M05,33,NaN,499,2438,8923
184,Imported value in 2005-M06,NaN,NaN,441,2722,7674
185,Imported value in 2005-M07,NaN,NaN,352,2533,6431
186,Imported value in 2005-M08,NaN,NaN,840,4107,6038
187,Imported value in 2005-M09,NaN,NaN,275,3250,8907
188,Imported value in 2005-M10_y,NaN,NaN,215,2755,7662
189,Unnamed: 21,NaN,NaN,NaN,NaN,NaN

In [93]:
# İlk Satırı Kolon isimleri yapar ve NaN olan satırları siler 
UK_all.columns = UK_all.iloc[0]
UK_all=UK_all.reindex(UK_all.index.drop(0))


#UK_all=UK_all.dropna(thresh=5)
UK_all.loc[:, 'Date'] = 0

i=UK_all[UK_all['Exporters'].str.contains("Unnamed")==True].index
UK_all.drop(i,inplace=True)

In [94]:
#if Product==841840 :
#    UK_all=UK_all.drop_duplicates(subset=['World', 'Germany'])
#else:
#    UK_all=UK_all.drop_duplicates('World')

In [95]:
UK_all[UK_all['Exporters']=='Unnamed: 21_x'].count()

0
Exporters             0
Turkey                0
Korea, Republic of    0
Poland                0
China                 0
Italy                 0
Date                  0
dtype: int64

In [96]:
UK_all.iloc[50:100,:]
#UK_

,Exporters,Turkey,"Korea, Republic of",Poland,China,Italy,Date
53,Imported value in 2014-M07,18120,6059,5759,14071,2505,0
54,Imported value in 2014-M08,14919,4395,8110,16613,1716,0
55,Imported value in 2014-M09,17789,5982,5007,16420,3354,0
56,Imported value in 2014-M10,13338,5705,6430,11025,3583,0
57,Imported value in 2014-M11,11807,3927,6313,9787,3568,0
58,Imported value in 2014-M12,9400,3751,6136,10012,1977,0
59,Imported value in 2015-M01,7199,3338,4149,11755,3294,0
60,Imported value in 2015-M02,7518,2154,2546,9766,3681,0
61,Imported value in 2015-M03,8651,4347,4227,10431,2751,0
62,Imported value in 2015-M04_y,10365,4386,3684,9058,3224,0
64,Imported value in 2012-M02_x,9516,3086,1609,4169,2189,0
65,Imported value in 2012-M03,13462,2258,1512,6163,2595,0
66,Imported value in 2012-M04,13930,3800,564,12703,2853,0
67,Imported value in 2012-M05,12476,4544,2380,15469,2449,0
68,Imported value in 2012-M06,17163,3559,2345,16733,2399,0
69,Imported value in 2012-M07,12094,4189,3003,14717,2012,0
70,Imported value in 2012-M08,14484,3987,4506,12200,1383,0
71,Imported value in 2012-M09,13848,5094,5548,14356,2740,0
72,Imported value in 2012-M10,16337,7045,6049,15549,2704,0
73,Imported value in 2012-M11,10824,3215,4651,13952,2841,0
74,Imported value in 2012-M12,12786,2778,3306,14077,2178,0
75,Imported value in 2013-M01,12447,3098,3328,7997,2327,0
76,Imported value in 2013-M02,12877,2072,2524,6428,2649,0
77,Imported value in 2013-M03,9519,2364,4262,10348,2234,0
78,Imported value in 2013-M04,10131,2285,4656,10959,2120,0
79,Imported value in 2013-M05,7622,4987,4409,13744,2629,0
80,Imported value in 2013-M06,9936,4260,8031,13248,1951,0
81,Imported value in 2013-M07,14855,3816,5278,15548,2656,0
82,Imported value in 2013-M08,12125,3431,6641,12820,1842,0
83,Imported value in 2013-M09_y,20206,6406,6837,8230,3714,0
85,Imported value in 2010-M07_x,4301,5199,1383,8714,2676,0
86,Imported value in 2010-M08,6466,3271,1009,7438,1130,0
87,Imported value in 2010-M09,3939,4399,1386,12109,2263,0
88,Imported value in 2010-M10,6680,9423,1706,11300,2011,0
89,Imported value in 2010-M11,6980,10004,1810,13699,1991,0
90,Imported value in 2010-M12,8866,5388,2570,9113,1566,0
91,Imported value in 2011-M01,3666,3645,1415,5961,2112,0
92,Imported value in 2011-M02,4200,4686,2204,4020,2331,0
93,Imported value in 2011-M03,4676,4514,2546,5855,2990,0
94,Imported value in 2011-M04,6860,3868,2397,5534,2263,0
95,Imported value in 2011-M05,6964,4292,2586,6855,2730,0
96,Imported value in 2011-M06,8309,3140,3186,8636,2348,0
97,Imported value in 2011-M07,7117,2360,2196,7769,2095,0
98,Imported value in 2011-M08,11812,3350,2650,5226,1631,0
99,Imported value in 2011-M09,11039,6064,2738,6190,2890,0
100,Imported value in 2011-M10,15952,8203,2879,6966,2829,0
101,Imported value in 2011-M11,16062,5503,4500,6447,2465,0
102,Imported value in 2011-M12,15322,3497,2921,7746,1744,0
103,Imported value in 2012-M01,10179,3923,2472,7427,2271,0
104,Imported value in 2012-M02_y,9516,3086,1609,4169,2189,0

In [97]:
def finddate(expression):
        
    year=expression.split('-M')[0]
    year=year.split()[3]
    month=expression.split('-M')[1]
    month=month.split('_')[0]
    date=int(year+month)

    return date

In [98]:
for num in range(0,UK_all.shape[0]):
    UK_all.iloc[num,6]=finddate(UK_all.iloc[num,0])

In [99]:
UK_all.drop('Exporters',axis=1,inplace=True)
UK_all=UK_all.sort_values(by='Date', ascending=1)

UK_all=UK_all.drop_duplicates('Date')

In [100]:
UK_all

0   Turkey Korea, Republic of Poland  China  Italy    Date
169    NaN                NaN    181    NaN   4936  200403
170    NaN                NaN    525    NaN   4588  200404
171    NaN                NaN    582    NaN   5524  200405
172    NaN                NaN    769    NaN   7705  200406
173    NaN                NaN    966    NaN   7919  200407
174    NaN                NaN    972    NaN   3132  200408
175      9                NaN    529    NaN   5418  200409
176      1                NaN    636    NaN   9804  200410
177      7                NaN    497    NaN  10177  200411
178    NaN                NaN    381    NaN   5963  200412
179    NaN                NaN    232   1402   7813  200501
180     52                NaN    457   1009   8053  200502
181    NaN                NaN    159   1216   7777  200503
182    NaN                NaN    366   2042   6532  200504
183     33                NaN    499   2438   8923  200505
184    NaN                NaN    441   2722   7674  200506
185    NaN                NaN    352   2533   6431  200507
186    NaN                NaN    840   4107   6038  200508
187    NaN                NaN    275   3250   8907  200509
148    NaN                NaN    215   2755   7662  200510
149    NaN                NaN    255   3544   9529  200511
150    NaN                NaN    130   2483   5823  200512
151    NaN                NaN    179   2136   7106  200601
152      5                NaN    222    953   4079  200602
153    NaN                NaN    169   4079   8573  200603
154    NaN                NaN    250   2323   6209  200604
155    NaN                NaN    277   5824   8222  200605
156     30                NaN    764   7874   7312  200606
157     10                NaN    366   7287   9479  200607
158     15                NaN    332  14050   5914  200608
..     ...                ...    ...    ...    ...     ...
31    7440               1708   5259   7424   3270  201601
32    9601               2448   5374   9675   3663  201602
33    9244               3037   6280  11692   3797  201603
34    9243               2475   5826   9773   3235  201604
35   11577               2925   6065  11324   3238  201605
36   11138               3271   9377  12515   2983  201606
37    6276               3106   9900  11273   2362  201607
38   13450               3849   8293  13443   2889  201608
39    9977               4862   7883  10695   3729  201609
40   10952               4716   8963  12567   3291  201610
1    10677               3852   9167  13908   3185  201611
2     8971               2370   6128  12372   1888  201612
3     6554               2720   4586  12786   2833  201701
4     7754               1583   5230  12007   3201  201702
5     6264               1301   4037  12493   3574  201703
6     6228               1977   4902   8924   2388  201704
7     8058               3290   6072  12955   3834  201705
8    10745               3577   8244  13279   2693  201706
9     8186               3285   6016  13762   2700  201707
10   14531               4157   6073  17149   2337  201708
11   10606               5112   7340  16072   4403  201709
12   13107               2630   6912  17063   3224  201710
13    7683               3486   7426  16218   2794  201711
14    7865               2408   6130  11329   2125  201712
15    6044               3547   4159    NaN   3651  201801
16    7280               3145   4504    NaN   3182  201802
17    6215               1341   4858    NaN   2351  201803
18    7421               1282   5909    NaN   3931  201804
19   11349               1849    NaN    NaN    NaN  201805
20    9479               1409    NaN    NaN    NaN  201806

[172 rows x 6 columns]

In [101]:
if Product==841810 :
    UK_all=UK_all.reindex(columns=['Turkey','China','Poland','Korea, Republic of','Italy','Date'])

    UK_all=UK_all.rename(columns = {'Turkey':'TUR_GBR_841810'})
    UK_all['TUR_GBR_841810-1'] = UK_all['TUR_GBR_841810'].shift(1)
    UK_all['TUR_GBR_841810-2'] = UK_all['TUR_GBR_841810'].shift(2)
    UK_all['TUR_GBR_841810-3'] = UK_all['TUR_GBR_841810'].shift(3)
    UK_all['TUR_GBR_841810-6'] = UK_all['TUR_GBR_841810'].shift(6)
    UK_all['TUR_GBR_841810-12'] = UK_all['TUR_GBR_841810'].shift(12)

    UK_all=UK_all.rename(columns = {'China':'CHN_GBR_841810'})
    UK_all['CHN_GBR_841810-1'] = UK_all['CHN_GBR_841810'].shift(1)
    UK_all['CHN_GBR_841810-2'] = UK_all['CHN_GBR_841810'].shift(2)
    UK_all['CHN_GBR_841810-3'] = UK_all['CHN_GBR_841810'].shift(3)
    UK_all['CHN_GBR_841810-6'] = UK_all['CHN_GBR_841810'].shift(6)
    UK_all['CHN_GBR_841810-12'] = UK_all['CHN_GBR_841810'].shift(12)

    UK_all=UK_all.rename(columns = {'Poland':'POL_GBR_841810'})
    UK_all['POL_GBR_841810-1'] = UK_all['POL_GBR_841810'].shift(1)
    UK_all['POL_GBR_841810-2'] = UK_all['POL_GBR_841810'].shift(2)
    UK_all['POL_GBR_841810-3'] = UK_all['POL_GBR_841810'].shift(3)
    UK_all['POL_GBR_841810-6'] = UK_all['POL_GBR_841810'].shift(6)
    UK_all['POL_GBR_841810-12'] = UK_all['POL_GBR_841810'].shift(12)

    UK_all=UK_all.rename(columns = {'Korea, Republic of':'KOR_GBR_841810'})
    UK_all['KOR_GBR_841810-1'] = UK_all['KOR_GBR_841810'].shift(1)
    UK_all['KOR_GBR_841810-2'] = UK_all['KOR_GBR_841810'].shift(2)
    UK_all['KOR_GBR_841810-3'] = UK_all['KOR_GBR_841810'].shift(3)
    UK_all['KOR_GBR_841810-6'] = UK_all['KOR_GBR_841810'].shift(6)
    UK_all['KOR_GBR_841810-12'] = UK_all['KOR_GBR_841810'].shift(12)

    UK_all=UK_all.rename(columns = {'Italy':'ITA_GBR_841810'})
    UK_all['ITA_GBR_841810-1'] = UK_all['ITA_GBR_841810'].shift(1)
    UK_all['ITA_GBR_841810-2'] = UK_all['ITA_GBR_841810'].shift(2)
    UK_all['ITA_GBR_841810-3'] = UK_all['ITA_GBR_841810'].shift(3)
    UK_all['ITA_GBR_841810-6'] = UK_all['ITA_GBR_841810'].shift(6)
    UK_all['ITA_GBR_841810-12'] = UK_all['ITA_GBR_841810'].shift(12)

elif Product==841840:

    UK_all=UK_all.reindex(columns=['Turkey','China','Germany','Netherlands','Hungary','Date'])
    UK_all=UK_all.rename(columns = {'Turkey':'TUR_GBR_841840'})
    UK_all['TUR_GBR_841840-1'] = UK_all['TUR_GBR_841840'].shift(1)
    UK_all['TUR_GBR_841840-2'] = UK_all['TUR_GBR_841840'].shift(2)
    UK_all['TUR_GBR_841840-3'] = UK_all['TUR_GBR_841840'].shift(3)
    UK_all['TUR_GBR_841840-6'] = UK_all['TUR_GBR_841840'].shift(6)
    UK_all['TUR_GBR_841840-12'] = UK_all['TUR_GBR_841840'].shift(12)

    UK_all=UK_all.rename(columns = {'China':'CHN_GBR_841840'})
    UK_all['CHN_GBR_841840-1'] = UK_all['CHN_GBR_841840'].shift(1)
    UK_all['CHN_GBR_841840-2'] = UK_all['CHN_GBR_841840'].shift(2)
    UK_all['CHN_GBR_841840-3'] = UK_all['CHN_GBR_841840'].shift(3)
    UK_all['CHN_GBR_841840-6'] = UK_all['CHN_GBR_841840'].shift(6)
    UK_all['CHN_GBR_841840-12'] = UK_all['CHN_GBR_841840'].shift(12)

    
    UK_all=UK_all.rename(columns = {'Germany':'DEU_GBR_841840'})
    UK_all['DEU_GBR_841840-1'] = UK_all['DEU_GBR_841840'].shift(1)
    UK_all['DEU_GBR_841840-2'] = UK_all['DEU_GBR_841840'].shift(2)
    UK_all['DEU_GBR_841840-3'] = UK_all['DEU_GBR_841840'].shift(3)
    UK_all['DEU_GBR_841840-6'] = UK_all['DEU_GBR_841840'].shift(6)
    UK_all['DEU_GBR_841840-12'] = UK_all['DEU_GBR_841840'].shift(12)

    UK_all=UK_all.rename(columns = {'Netherlands':'NLD_GBR_841840'})
    UK_all['NLD_GBR_841840-1'] = UK_all['NLD_GBR_841840'].shift(1)
    UK_all['NLD_GBR_841840-2'] = UK_all['NLD_GBR_841840'].shift(2)
    UK_all['NLD_GBR_841840-3'] = UK_all['NLD_GBR_841840'].shift(3)
    UK_all['NLD_GBR_841840-6'] = UK_all['NLD_GBR_841840'].shift(6)
    UK_all['NLD_GBR_841840-12'] = UK_all['NLD_GBR_841840'].shift(12)

    UK_all=UK_all.rename(columns = {'Hungary':'HUN_GBR_841840'})
    UK_all['HUN_GBR_841840-1'] = UK_all['HUN_GBR_841840'].shift(1)
    UK_all['HUN_GBR_841840-2'] = UK_all['HUN_GBR_841840'].shift(2)
    UK_all['HUN_GBR_841840-3'] = UK_all['HUN_GBR_841840'].shift(3)
    UK_all['HUN_GBR_841840-6'] = UK_all['HUN_GBR_841840'].shift(6)
    UK_all['HUN_GBR_841840-12'] = UK_all['HUN_GBR_841840'].shift(12)
    
elif Product==841850:
    UK_all=UK_all.reindex(columns=['Turkey','China','Austria','Czech Republic','Italy','Date'])
    UK_all=UK_all.rename(columns = {'Turkey':'TUR_GBR_841850'})
    UK_all['TUR_GBR_841850-1'] = UK_all['TUR_GBR_841850'].shift(1)
    UK_all['TUR_GBR_841850-2'] = UK_all['TUR_GBR_841850'].shift(2)
    UK_all['TUR_GBR_841850-3'] = UK_all['TUR_GBR_841850'].shift(3)
    UK_all['TUR_GBR_841850-6'] = UK_all['TUR_GBR_841850'].shift(6)
    UK_all['TUR_GBR_841850-12'] = UK_all['TUR_GBR_841850'].shift(12)

    UK_all=UK_all.rename(columns = {'China':'CHN_GBR_841850'})
    UK_all['CHN_GBR_841850-1'] = UK_all['CHN_GBR_841850'].shift(1)
    UK_all['CHN_GBR_841850-2'] = UK_all['CHN_GBR_841850'].shift(2)
    UK_all['CHN_GBR_841850-3'] = UK_all['CHN_GBR_841850'].shift(3)
    UK_all['CHN_GBR_841850-6'] = UK_all['CHN_GBR_841850'].shift(6)
    UK_all['CHN_GBR_841850-12'] = UK_all['CHN_GBR_841850'].shift(12)

    
    UK_all=UK_all.rename(columns = {'Austria':'AUT_GBR_841850'})
    UK_all['AUT_GBR_841850-1'] = UK_all['AUT_GBR_841850'].shift(1)
    UK_all['AUT_GBR_841850-2'] = UK_all['AUT_GBR_841850'].shift(2)
    UK_all['AUT_GBR_841850-3'] = UK_all['AUT_GBR_841850'].shift(3)
    UK_all['AUT_GBR_841850-6'] = UK_all['AUT_GBR_841850'].shift(6)
    UK_all['AUT_GBR_841850-12'] = UK_all['AUT_GBR_841850'].shift(12)

    UK_all=UK_all.rename(columns = {'Czech Republic':'CHZ_GBR_841850'})
    UK_all['CHZ_GBR_841850-1'] = UK_all['CHZ_GBR_841850'].shift(1)
    UK_all['CHZ_GBR_841850-2'] = UK_all['CHZ_GBR_841850'].shift(2)
    UK_all['CHZ_GBR_841850-3'] = UK_all['CHZ_GBR_841850'].shift(3)
    UK_all['CHZ_GBR_841850-6'] = UK_all['CHZ_GBR_841850'].shift(6)
    UK_all['CHZ_GBR_841850-12'] = UK_all['CHZ_GBR_841850'].shift(12)

    UK_all=UK_all.rename(columns = {'Italy':'ITA_GBR_841850'})
    UK_all['ITA_GBR_841850-1'] = UK_all['ITA_GBR_841850'].shift(1)
    UK_all['ITA_GBR_841850-2'] = UK_all['ITA_GBR_841850'].shift(2)
    UK_all['ITA_GBR_841850-3'] = UK_all['ITA_GBR_841850'].shift(3)
    UK_all['ITA_GBR_841850-6'] = UK_all['ITA_GBR_841850'].shift(6)
    UK_all['ITA_GBR_841850-12'] = UK_all['ITA_GBR_841850'].shift(12)

In [102]:
#UK_all=UK_all.dropna()
UK_all.to_excel('{}_GBR_all.xlsx'.format(Product),index = False)